@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: relative;
  z-index: 11;
  padding: 0 20px;
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 236px;
}

.header .main__bg {
  display: none;
}

.header.main {
  background: none;
}

.header-body {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-body__logo {
  position: absolute;
  pointer-events: none;
  left: 50%;
  -webkit-transform: translate(-50%, -40px);
      -ms-transform: translate(-50%, -40px);
          transform: translate(-50%, -40px);
}

.header-body__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header-body__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__btns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #376B00;
  overflow: hidden;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  position: relative;
  margin: 0 0 0 42px;
  border-radius: 40px;
  padding: 0 20px 0 32px;
}

.header-body__btns-item:first-child {
  margin: 0;
}

.header-body__btns-item_circle {
  width: 56px;
  border: 2px solid #376B00;
  border-radius: 50%;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-body__btns-item_cart span {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 19.2px;
  text-align: right;
  color: #000000;
  position: absolute;
  top: 22px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header-body__btns-item_cart svg {
  height: 36px;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header-body__btns-item_invalid {
  height: 56px;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.header-body__btns-item_invalid .mob {
  display: none;
}

.header-body__btns-item_invalid img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header-body__btns-item_tel svg {
  margin: 0 0 0 20px;
}

.header-body__btns-item_menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  padding: 0 26px 0 33px;
  margin: 0 0 0 20px;
}

.header-body__btns-item_menu svg {
  margin: 0 0 0 16px;
}

.header-body__btns-he {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  background: rgba(255, 255, 255, 0.8);
  border: 2px solid #376B00;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 0 20px;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  visibility: hidden;
}

.header-menu.active {
  pointer-events: all;
  visibility: visible;
}

.header-menu.active .header-menu__bg {
  opacity: 1;
}

.header-menu.active .header-menu__body {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.header-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.header-menu__body {
  position: absolute;
  background: #FFFFFF;
  padding: 30px 0;
  right: 0;
  width: 355px;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.header-menu__body::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

.header-menu__body::-webkit-scrollbar-thumb {
  background-color: #346600;
}

.header-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 24px;
}

.header-menu__top span {
  position: relative;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: right;
  color: #346600;
}

.header-menu__top span::after {
  content: url(../img/header/menu-bg-top.png);
  position: absolute;
  display: block;
  top: 6px;
  left: -45px;
}

.header-menu__top-close {
  cursor: pointer;
}

.header-menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 52px 0 0 0;
  position: relative;
}

.header-menu__btns::after {
  content: url(../img/header/menu-bg-bottom.png);
  position: absolute;
  display: block;
  pointer-events: none;
  bottom: -130px;
  left: -20px;
}

.header-menu__btns-item {
  display: block;
  margin: 42px 0 0 0;
  padding: 10px 18px 10px 24px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: right;
  color: #53A200;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-menu__btns-item:hover {
  background: #53A200;
  color: #FFFFFF;
}

.header-menu__btns-item:first-child {
  margin: 0;
}

.title {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  color: #346600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  position: relative;
}

.title-arrow {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  margin: 0 0 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-arrow img {
  margin: 0 10px 0 7px;
}

.title span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 1px;
  background: #D3D3D3;
  position: relative;
  margin: 0 8px 0 0;
}

.title span::before {
  content: '';
  background: #D3D3D3;
  display: block;
  position: absolute;
  top: -4px;
  right: 0;
  width: 42px;
  height: 1px;
}

.title span::after {
  content: '';
  background: #D3D3D3;
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 24px;
  height: 1px;
}

.title span:nth-of-type(2) {
  margin: 0 0 0 8px;
}

.title span:nth-of-type(2)::before {
  right: auto;
  left: 0;
}

.title span:nth-of-type(2)::after {
  right: auto;
  left: 0;
}

.title_singleline span::before {
  display: none;
}

.title_singleline span::after {
  display: none;
}

.title::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 56px;
  height: 2px;
  background: #FFD600;
}

.main {
  padding: 0 20px;
  overflow-x: hidden;
}

.main__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0 97.865%;
  pointer-events: none;
}

.main__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.main__img {
  width: 100%;
  height: 0;
  padding: 0 0 33.94%;
  border: 1px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
}

.main__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.advantages {
  margin: 17px 0 0 0;
  position: relative;
  z-index: 1;
}

.advantages__title {
  color: #FFFFFF;
}

.advantages-body {
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-body__row {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 2%;
}

.advantages-body__row:first-child {
  margin: 0;
}

.advantages-body__item {
  margin: 0 20px;
}

.advantages-body__item-ico {
  height: 110px;
}

.advantages-body__item-ico img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.advantages-body__item-title {
  margin: 30px 0 0 0;
  font-family: 'Heebo';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.video {
  margin: 50px 0 0 0;
  padding: 105px 0 130px;
  position: relative;
  z-index: 1;
}

.video-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-body__title {
  display: none;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #346600;
}

.video-body__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-body__col_video {
  margin: 0 50px 0 0;
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.6%;
          flex: 0 0 48.6%;
  padding: 0 0 27.22%;
}

.video-body__col-video {
  background-color: #707070;
  border: 4px solid #FFFFFF;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-body__col-btn {
  display: inline-block;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  background: #53A300;
  padding: 11px 52px;
  margin: 30px 0 0 auto;
}

.video-body__text {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: #707070;
}

.video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 64px 0 0 0;
}

.video-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 38px;
}

.video-content__item:first-child {
  margin: 0;
}

.video-content__item-title {
  margin: 14px 0 0 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.tents-body {
  margin: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tents-body__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 43px);
          flex: 0 0 calc(33% - 43px);
  background-image: url(../img/tents/item-bg.png);
  position: relative;
  margin: 48px 0 0 65px;
}

.tents-body__item:nth-child(3n + 1) {
  margin: 48px 0 0 0;
}

.tents-body__item:first-child {
  margin: 0;
}

.tents-body__item:nth-child(2) {
  margin: 0 0 0 65px;
}

.tents-body__item:nth-child(3) {
  margin: 0 0 0 65px;
}

.tents-body__item-tip {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 45px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.tents-body__item-tip:hover span {
  opacity: 1;
  visibility: visible;
}

.tents-body__item-tip span {
  width: 248px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #707070;
  position: absolute;
  top: 63px;
  left: 18px;
  padding: 20px;
  background: #FFFFFF;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.tents-body__item-tip span::after {
  content: '';
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 0;
  left: 20px;
}

.tents-body__item-img {
  position: relative;
  padding: 0 0 85.5% 0;
}

.tents-body__item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tents-body__item-info {
  padding: 9px 18px 0;
}

.tents-body__item-title {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #346600;
  text-align: right;
}

.tents-body__item-descr {
  margin: 10px 0 0 0;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: #707070;
}

.tents-body__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 85px 0 0 0;
}

.tents-body__item-btn {
  padding: 11px 52px;
  background: #53A300;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

.tents-body__item-price {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  padding: 0 18px 0 0;
}

body {
  overflow: auto;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1800px) {
  .main__bg {
    padding: 0 0 100%;
  }
}

@media (max-width: 1700px) {
  .main__bg {
    padding: 0 0 105%;
  }
}

@media (max-width: 1500px) {
  .header {
    height: 180px;
  }

  .header-body__logo {
    width: 450px;
  }

  .header-body__btns-item {
    margin: 0 0 0 12px;
    font-size: 20px;
    height: 50px;
  }

  .header-body__btns-item_circle {
    width: 50px;
  }

  .header-body__btns-item_cart svg {
    height: 30px;
    top: 6px;
  }

  .header-body__btns-item_cart span {
    top: 16px;
    font-size: 17px;
  }

  .main__bg {
    padding: 0 0 100%;
  }

  .advantages-body__item-ico {
    height: 70px;
  }

  .advantages-body__item-title {
    font-size: 16px;
  }

  .video-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .video-content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333% - 36px);
            flex: 0 0 calc(33.333% - 36px);
    margin: 18px;
  }

  .video-content__item:first-child {
    margin: 18px;
  }
}

@media (max-width: 1400px) {
  .main__bg {
    padding: 0 0 105%;
  }
}

@media (max-width: 1300px) {
  .main__bg {
    padding: 0 0 110%;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 140px;
  }

  .header-body__logo {
    width: 350px;
  }

  .header-body__btns-item {
    margin: 0 0 0 12px;
    font-size: 16px;
    height: 35px;
    padding: 0 10px 0 17px;
  }

  .header-body__btns-item_invalid {
    padding: 0;
  }

  .header-body__btns-item_invalid img {
    display: none;
  }

  .header-body__btns-item_invalid .mob {
    display: block;
  }

  .header-body__btns-item_circle {
    width: 35px;
    padding: 0;
  }

  .header-body__btns-item_tel svg {
    height: 20px;
    margin: 0 0 0 5px;
  }

  .header-body__btns-item_cart svg {
    height: 22px;
    top: 4px;
  }

  .header-body__btns-item_cart span {
    top: 12px;
    font-size: 12px;
  }

  .header-body__btns-item_menu {
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    width: 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-body__btns-item_menu svg {
    width: 16px;
    height: 13px;
    margin: 0;
  }

  .main__bg {
    padding: 0 0 160%;
  }

  .advantages-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0 0 0;
  }

  .advantages-body__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 30px 20px 0;
  }

  .advantages-body__item-ico {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: 70px;
  }

  .advantages-body__item-title {
    font-size: 16px;
  }

  .video-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .video-body__title {
    display: block;
  }

  .video-body__text {
    max-width: 720px;
    margin: 17px auto 0;
  }

  .video-body__col_video {
    margin: 0 0 30px;
    padding: 0 0 45%;
  }

  .tents-body__item-title {
    font-size: 16px;
    line-height: 18px;
  }

  .tents-body__item-descr {
    margin: 2px 0 0 0;
    font-size: 14px;
    line-height: 18px;
  }

  .tents-body__item-btn {
    padding: 3px 20px;
    font-size: 20px;
    line-height: 28px;
  }

  .tents-body__item-price {
    font-size: 20px;
    line-height: 28px;
  }

  .tents-body__item-bottom {
    margin: 40px 0 0 0;
  }

  .tents-body__item-tip {
    width: 90px;
    height: 35px;
    font-size: 16px;
    line-height: 24px;
  }

  .tents-body__item-tip span {
    top: 53px;
    left: 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 90px;
  }

  .header-body {
    padding: 17px 0 0 0;
  }

  .header-body__logo {
    width: 250px;
    -webkit-transform: translate(-50%, -17px);
        -ms-transform: translate(-50%, -17px);
            transform: translate(-50%, -17px);
  }

  .header-body__btns-item {
    display: none;
  }

  .header-body__btns-item_invalid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-body__btns-item_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-body__btns-item_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__bg {
    padding: 0 0 200%;
  }

  .tents-body__item {
    margin: 24px 0 0 35px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33% - 23px);
            flex: 0 0 calc(33% - 23px);
  }

  .tents-body__item:nth-child(3n + 1) {
    margin: 24px 0 0 0;
  }

  .tents-body__item:first-child {
    margin: 0;
  }

  .tents-body__item:nth-child(2) {
    margin: 0 0 0 35px;
  }

  .tents-body__item:nth-child(3) {
    margin: 0 0 0 35px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 18px;
    line-height: 26px;
  }

  .header {
    padding: 0 15px !important;
  }

  .header-menu__body {
    width: 305px;
  }

  .header-menu__top {
    padding: 0 22px;
  }

  .header-menu__top span {
    font-size: 24px;
  }

  .header-menu__top span::after {
    content: '';
    width: 90px;
    background-image: url(../img/header/menu-bg-top.png);
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -30px;
  }

  .header-menu__btns {
    margin: 40px 0 0 0;
  }

  .header-menu__btns::after {
    content: '';
    background-image: url(../img/header/menu-bg-bottom.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 330px;
    height: 235px;
  }

  .header-menu__btns-item {
    font-size: 18px;
    line-height: 26px;
    margin: 30px 0 0 0;
    padding: 0 22px;
  }

  .main {
    padding: 0;
  }

  .main__img {
    padding: 0 0 47%;
  }

  .main__bg {
    padding: 0 0 230%;
  }

  .advantages-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow-x: scroll;
  }

  .advantages-body__item-title {
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 1;
  }

  .advantages-body__item-ico {
    width: 110px;
  }

  .video {
    margin: 40px 0 40px;
    padding: 0;
  }

  .video-body__text {
    max-width: 720px;
    margin: 17px auto 0;
    font-size: 14px;
    line-height: 152.88%;
  }

  .video-body__col_video {
    padding: 0 0 56.5%;
  }

  .video-body__col-btn {
    font-size: 14px;
    line-height: 21px;
    margin: 24px auto 0 0;
    padding: 1px 9px;
  }

  .video-content {
    margin: 26px 0 0 0;
  }

  .video-content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 8px);
            flex: 0 0 calc(50% - 8px);
    margin: 20px 0 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .video-content__item:nth-child(odd) {
    margin: 20px 0 0 0;
  }

  .video-content__item:nth-child(even) {
    margin: 20px 0 0 16px;
    padding: 0 10px 0 0;
  }

  .video-content__item:nth-child(even) .video-content__item-title::after {
    right: -16px;
  }

  .video-content__item:first-child {
    margin: 0;
  }

  .video-content__item:nth-child(2) {
    margin: 0 0 0 16px;
    padding: 0 10px 0 0;
  }

  .video-content__item-ico {
    display: none;
  }

  .video-content__item-title {
    position: relative;
    font-size: 14px;
    line-height: 108.38%;
    text-align: right;
    width: 100%;
  }

  .video-content__item-title::after {
    content: '';
    display: block;
    background-image: url(../img/video/arrow.svg);
    width: 13px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: -22px;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .tents-body {
    margin: 30px 0 0 0;
  }

  .tents-body__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 7px);
            flex: 0 0 calc(50% - 7px);
    margin: 14px 0 0 14px;
  }

  .tents-body__item:nth-child(odd) {
    margin: 14px 0 0 0;
  }

  .tents-body__item:nth-child(even) {
    margin: 14px 0 0 14px;
  }

  .tents-body__item:first-child {
    margin: 0;
  }

  .tents-body__item:nth-child(2) {
    margin: 0 0 0 14px;
  }

  .tents-body__item:nth-child(3) {
    margin: 14px 0 0 0;
  }

  .tents-body__item-title {
    font-size: 14px;
    line-height: 21px;
  }

  .tents-body__item-descr {
    margin: 2px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .tents-body__item-btn {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 21px;
  }

  .tents-body__item-price {
    font-size: 14px;
    line-height: 21px;
  }

  .tents-body__item-bottom {
    margin: 15px 0 0 0;
  }

  .tents-body__item-tip {
    top: 12px;
    width: 90px;
    height: 35px;
    font-size: 12px;
    line-height: 18px;
    width: 55px;
    height: 22px;
  }

  .tents-body__item-tip span {
    width: 130px;
    top: 37px;
    left: 5px;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
  }

  .tents-body__item-tip span::after {
    left: 11px;
  }
}

@media (max-width: 575px) {
  .main__bg {
    padding: 0 0 250%;
  }
}

@media (max-width: 475px) {
  .main__bg {
    padding: 0 0 270%;
  }
}

@media (max-width: 375px) {
  .main__bg {
    padding: 0 0 300%;
  }
}