<div class="product">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="container">
    <div class="product-body">
      <div class="pricelist-modal__cost">
        <div class="pricelist-modal__cost-price">
          2260 ₪
        </div>
        <div class="pricelist-modal__cost-size">
          <img src="./img/icons/arrow-green.svg" alt="">
          <span>40x40</span>
          גודל:

          <ul class="pricelist-content__item-dropdown">
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
          </ul>
        </div>
        <div class="pricelist-modal__cost-length">
          <img src="./img/icons/arrow-green.svg" alt="">
          <span>40x40</span>
          גובה:

          <ul class="pricelist-content__item-dropdown">
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
            <li>
              40x40
            </li>
          </ul>
        </div>
        <div class="pricelist-modal__cost-count">
          <button>
            <img src="./img/icons/arrow-green.svg" alt="">
          </button>
          <input type="number" value="1">
          <button>
            <img src="./img/icons/arrow-green.svg" alt="">
          </button>
          <span>
            כמות
          </span>
        </div>
        <div class="pricelist-modal__cost-btn">
          הוסף לעגלה
        </div>
        <ul class="pricelist-modal__desc-steps mobile">
          <li>
            <span class="name">
              בחרו
              <br>
              מסגרת
            </span>
            <span class="num">1</span>
            <img src="./img/product/01.png" srcset="./img/product/01.png 1x, ./img/product/01@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              בד לסוכה
            </span>
            <span class="num">2</span>
            <img src="./img/product/02.png" srcset="./img/product/02.png 1x, ./img/product/02@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              סכך
            </span>
            <span class="num">3</span>
            <img src="./img/product/03.png" srcset="./img/product/03.png 1x, ./img/product/03@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              אביזרים
            </span>
            <span class="num">4</span>
            <img src="./img/product/04.png" srcset="./img/product/04.png 1x, ./img/product/04@2x.png 2x" alt="">
          </li>
        </ul>
      </div>
      <div class="pricelist-modal__desc">
        <div class="pricelist-modal__desc-title">מסגרת סוכה</div>
        <div class="pricelist-modal__desc-content">
          <p>
            מוטות הרוחב תוכננו ללא פלסטיקים וכך מסופקים.
            ש פלסטיקים בברזלי הגובה נגד חדירת רטיבות. אין צורך בפלסטיקים במוטות הרוחב.
            הפרופילים רחבים ביותר ומאפשרים הקמה של סוכות ענקיות באופן יציב ביותר
            פרופיל ברזל גובה הינו 52X52 מ"מ, פרופיל ברזל רוחב הינו 03X02 מ"מ
            הברזלים צבועים בצבע היפוקסי בתנור בצבע לבן ומגולוונים נגד חלודה
            וכן הלאה...
          </p>
          <p>
            מסגרת ברזל לסוכה 5X3 כוללת: 4 מוטות בגובה 2.1 מטר, 2 מוטות גובה הארכה 2.01 מטר, 4 מוטות ברוחב 2 מטר, 9 מוטות
            ברוחב 3 מטר, סה"כ 91 מוטות ברזל
          </p>
          <p>
            מסגרת ברזל לסוכה 4X3 כוללת: 4 מוטות בגובה 2.1 מטר, 2 מוטות גובה הארכה 2.01 מטר, 8 מוטות ברוחב 2 מטר, 5 מוטות
            ברוחב 3 מטר, סה"כ 91 מוטות ברזל
          </p>
          <p>
            מסגרת ברזל לסוכה 3X3 כוללת: 4 מוטות בגובה 2.1 מטר ו- מוטות ברוחב 3 מטר, סה"כ 21 מוטות ברזל
            מסגרת ברזל לסוכה 3X2 כוללת: 4 מוטות בגובה 2.1 מטר, 4 מוטות ברוחב 2 מטר, 4 מוטות ברוחב 3 מטר, סה"כ 21 מוטות
            ברזל
            מסגרת ברזל לסוכה 2X2 כוללת: 4 מוטות בגובה 2.1 מטר ו- מוטות ברוחב 2 מטר, סה"כ 21 מוטות ברזל
            ערכת 4 חבלי לבוד וסט 4 קישוטי סוכה במתנה בתוך קרטון מסגרת הסוכה!
          </p>
          <p>
            מסגרת הברזל הינה מודולארית וניתנת להרחבה לפי הצורך לכל גודל שצריכים
            מסגרת ברזל איננה כוללת בד לסוכה אלא ברזלים בלבד היוצרים את מסגרת הסוכה
            מסגרת ברזל רגילה לסוכה המורכבת מ- מוטות גובה פינה, מוטות גובה הארכה ומוטות רוחב כפי הצורך
          </p>
        </div>
        <ul class="pricelist-modal__desc-check">
          <li>
            מסגרת ברזל מגולוונת לסוכה
          </li>
          <li>
            חזקה ויציבה ביותר
          </li>
          <li>
            כוללת סט 4 חבלי לבוד לפי ההלכה למהדרין
          </li>
          <li>
            כוללת קונקטור )מחבר( אמצעי להוספה עתידית של מסגרת אמצעית לחיזוק הסוכה
          </li>
          <li>
            סט 4 קישוטי סוכה במתנה לכל רוכש
          </li>
        </ul>
        <ul class="pricelist-modal__desc-steps">
          <li>
            <span class="name">
              בחרו
              <br>
              מסגרת
            </span>
            <span class="num">1</span>
            <img src="./img/product/01.png" srcset="./img/product/01.png 1x, ./img/product/01@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              בד לסוכה
            </span>
            <span class="num">2</span>
            <img src="./img/product/02.png" srcset="./img/product/02.png 1x, ./img/product/02@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              סכך
            </span>
            <span class="num">3</span>
            <img src="./img/product/03.png" srcset="./img/product/03.png 1x, ./img/product/03@2x.png 2x" alt="">
          </li>
          <li>
            <span class="name">
              בחרו
              <br>
              אביזרים
            </span>
            <span class="num">4</span>
            <img src="./img/product/04.png" srcset="./img/product/04.png 1x, ./img/product/04@2x.png 2x" alt="">
          </li>
        </ul>
      </div>
      <div class="pricelist-modal__img">
        <div class="pricelist-modal__img-title mobile">
          מסגרת סוכה
        </div>
        <div class="pricelist-modal__img-top">
          <button class="active">וידאו</button>
          <button>תמונות</button>
        </div>
        <div class="pricelist-modal__img-item">
          <span class="pricelist-modal-zoom">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/pricelist/modal-img.png"
                srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/pricelist/modal-img.png"
                srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/pricelist/modal-img.png"
                srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
            </div>
          </div>
          <div class="pricelist-modal-button-prev"><img src="./img/pricelist/slider-arrow-prev.svg" alt=""></div>
          <div class="pricelist-modal-button-next"><img src="./img/pricelist/slider-arrow-next.svg" alt=""></div>
        </div>
        <ul class="pricelist-modal__img-list page">
          <li>
            <img src="./img/pricelist/modal-img.png"
              srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
          </li>
          <li>
            <img src="./img/pricelist/modal-img.png"
              srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
          </li>
          <li class="active">
            <img src="./img/pricelist/modal-img.png"
              srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
          </li>
          <li>
            <img src="./img/pricelist/modal-img.png"
              srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
          </li>
          <li>
            <img src="./img/pricelist/modal-img.png"
              srcset="./img/pricelist/modal-img.png 1x, ./img/pricelist/modal-img@2x.png 2x" alt="">
          </li>
        </ul>
        <div class="product-body__img-btn">
          דף הרכבה להורדה
        </div>
      </div>
    </div>
  </div>
</div>