<div class="increase">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        הגדלת סוכה לנצח
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    הגדלת סוכה לנצח
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="increase-text">
        <p>
          וכות הדר הינן סוכות מברזל וניתנות להרכבה ופירוק באופן קל ופשוט.
          <br>
          הסוכות הינן מודולאריות וניתן להגדיל את מסגרת הסוכה או את בד הסוכה עוד ועוד כפי הצורך.
          <br>
          מסגרת הברזל של הסוכה ניתנת להרחבה ע"י ברזלי גובה הארכה שבאמצעותם ניתן לחבר
          <br>
          בין מוטות רוחב למוטות רוחב נוספים ועי"כ להגדיל את אורך או רוחב הסוכה.
          <br>
          בהגדלת מסגרת הסוכה מחזקים גם את גג הסוכה כאשר מחברים מוט רוחב למוטות גובה הארכה
          <br>
          מ- צידי הסוכה.
          <br>
          כמו כן, בסוכות גדולות יש עמודי גובה שושנה במרכז הסוכה שאליו מחברים 4 מוטות רוחב
          <br>
          מ- הצדדים בגג הסוכה ועי"כ מחזקים את גג הסוכה.
          <br>
          בד הסוכה הינו גם כן מודולארי וניתן להגדלה ללא סוף.
          <br>
          בדי הסוכה הינן בגדלים: 8.2 מטר, 01.2 מטר, 21.2 מטר, 41.2 מטר.
          <br>
          הבדים נסגרים עם רוכסן בתחילת ובסוף הבד ועי"כ רוכסן זה ניתן להגדיל את הבד ולחבר אותו לבד נוסף.
          <br>
          לכל בד יש דלת הניתנת לפתיחה או לסגירה מוחלטת באמצעות רוכסן נוסף ו- חלונות עם רשתות נגד מזיקים.
        </p>
        <p>
          כאשר אתם מזמינים סוכת הדר בגודל מסוים אנחנו דואגים לכל הפרטים והמרכיבים ואתם מקבלים
          <br>
          במשלוח מהיר את כל הברזלים והבד הנדרשים להרכבת הסוכה ועם דף ההסבר המפורט והמאויר
          <br>
          אתם יכולים לבנות את הסוכה בזמן קצר וללא קושי.
        </p>
        <p>
          סוכות הדר מודולאריות ואתם נהנים מיתרון גדול ובמחיר של קניית סוכה 1 מקבלים למעשה אפשרות לבניית 2 גדלים שונים של
          סוכה. לדוג':
          <br>
          לקוח שרוכש סוכה 4X2 יכול לבנות או סוכה 4X2 או סוכה 2X2 )במידה ובשנה אחרת ירצה סוכה קטנה יותר(
          <br>
          לקוח שרוכש סוכה 4X3 יכול לבנות או סוכה 4X3 או סוכה 3X2 )במידה ובשנה אחרת ירצה סוכה קטנה יותר(
          <br>
          לקוח שרוכש סוכה 5X3 יכול לבנות או סוכה 5X3 או סוכה 3X3 )במידה ובשנה אחרת ירצה סוכה קטנה יותר(
        </p>
      </div>
      <div class="increase-btns">
        <a href="">לקטלוג סוכות הדר</a>
        <a href="">למחירון המלא</a>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li>
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li>
          סוכות לעסקים
        </li>
        <li>
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li class="active">
          הגדלת סוכה לנצח
        </li>
        <li>
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>