<div class="gallery">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="business__title title">
    <span></span>
    גלריה תמונות
    <span></span>
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        גלריה סוכה לנצח
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="business-body">
    <div class="products-body__content">
      <div class="business-body__content">
        <div class="gallery-page__body">
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              גלריה סכך מהודר
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
          <a href="" class="gallery-page__body-item">
            <span class="gallery-page__body-img">
              <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
            </span>
            <span class="gallery-page__body-title">
              טקסט של שם של סרטון
            </span>
          </a>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li class="active">
          גלריה סוכה לנצח
        </li>
        <li>
          גלריה סוכה מחוזקת
        </li>
        <li>
          גלריה סוכה מעוצבת
        </li>
        <li>
          גלריה סכך כשר
        </li>
        <li>
          גלריה סכך מהודר
        </li>
        <li>
          גלריה בדים לסוכה
        </li>
        <li>
          גלריה סוכת ילדים
        </li>
        <li>
          גלריה בדי תמונה
        </li>
        <li>
          גלריה במבוקים
        </li>
        <li>
          גלריה סוכה גדולה
        </li>
        <li>
          גלריה קטלוג
        </li>
        <li>
          גלריה לקוחות מרוצים בונים סוכות הדר
        </li>
        <li>
          גלריה תיק לברזלי הסוכה
        </li>
      </ul>
    </ul>
  </div>
</div>