<div class="video-inner">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="container">
    <div class="video-inner__video">
      <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
      <span>
        <img src="./img/gallery/play.svg" alt="">
      </span>
    </div>
    <div class="video-inner__bottom">
      <div class="video-inner__bottom-btns">
        <a href="">לכל הסרטונים</a>
        <a href="">לסרטון הבא</a>
        <a href="">לסרטון הקודם</a>
      </div>
      <div class="video-inner__bottom-title">
        סוכות הדר - סוכות בזול - קניית סוכה - סוכות בהנחה
      </div>
    </div>
  </div>
</div>