<div class="gallery-photo__modal">
  <div class="gallery-photo__modal-bg"></div>
  <div class="gallery-photo__modal-prev">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div>
  <div class="gallery-photo__modal-next">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div>
  <div class="gallery-photo__modal-content">
    <div class="gallery-photo__modal-close">
      <img src="./img/gallery/modal-close.svg" alt="">
    </div>
    <div class="gallery-photo__modal-img">
      <img src="./img/gallery/img.png" srcset="./img/gallery/img.png 1x, ./img/gallery/img@2x.png 2x" alt="">
    </div>
    <div class="gallery-photo__modal-title">
      טקסט של שם של התמונה
    </div>
  </div>
</div>