<div class="business">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        סוכות לעסקים
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="business__title title">
    <span></span>
    סוכות לעסקים
    <span></span>
  </div>
  <div class="business-body">
    <div class="products-body__content">
      <div class="business-body__content">
        <div class="business-body__content-text">
          חברת סוכות הדר גאה לייצר מוצרים איכותיים אנו נותנים דגש רב גם על איכות השירות ולכן החל מהשנה אנו מספקים גם
          שירותי הובלות, פירוק והרכבה ואף אפשרות להשכרת סוכה בזול. נשמח לשמוע את חוות דעתכם ע"מ שנשפר את הטעון שיפור
          ובכך נוכל בגאווה להמשיך ולהוביל את את ענף הסוכות! ביותר לחג הסוכות וסוכות בזול תוך תשומת לב גבוהה מאוד לכל פרט
          ופרט ומציעה לקהל לקוחותיה ההולך וגדל מכל רחבי הארץ. סוכה בזול - במחירים הזולים ביותר בישראל!!
        </div>
        <div class="business-body__imgs">
          <div class="business-body__imgs-big">
            <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
          </div>
          <div class="business-body__imgs-small">
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
            <div class="business-body__imgs-item">
              <img src="./img/business/img.png" srcset="./img/business/img.png 1x, ./img/business/img@2x.png 2x" alt="">
            </div>
          </div>
        </div>
        <div class="business-body__form">
          <div class="business-body__form-title">רוצה סוכה עבור העסק שלך</div>
          <div class="business-body__form-subtitle">השאירו פרטים ואחד הסוכנים שלנו יחזור אליך</div>
          <form action="">
            <div class="business-body__form-col">
              <textarea></textarea>
              <button>חזרו אליי בבקשה</button>
            </div>
            <div class="business-body__form-col">
              <input type="text" placeholder="שם מלא ">
              <input type="text" placeholder="טלפון">
              <input type="text" placeholder="מייל">
            </div>
          </form>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li>
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li class="active">
          סוכות לעסקים
        </li>
        <li>
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li>
          הגדלת סוכה לנצח
        </li>
        <li>
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>