<div class="branch">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="container">
    <div class="branch-body">
      <div class="branch-body__map">
        <img src="./img/branches/map.svg" alt="">
      </div>
      <div class="branch-body__info">
        <div class="branch-body__title title">
          <span></span>
          סוכות ברמת גן - משלוחים בכל הארץ
          <span></span>
        </div>
        <div class="branch-body__info-body">
          <div class="branch-body__info-col">
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                מה בחנות:
              </div>
              <div class="branch-body__info-desc">
                שירות משלוחים מהיר לכל הארץ.
                כמו כן, ניתן לרכוש אביזרים לסוכה כגון: בד לסוכה, מסגרת ברזל לסוכה, מוטות בודדים לסוכה ועוד.
                ניתן להזמין ולקבל במשלוח מהיר סוכות לנצח קומפלט כולל בד מצנח לסוכה, סכך לסוכה, במבוקים להנחת הסכך על
                מסגרת הסוכה, תיק לברזלי הסוכה, בדי תמונה מצויירים, סוכות לילדים.
              </div>
            </div>
          </div>
          <div class="branch-body__info-col">
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                שם החנות:
              </div>
              <div class="branch-body__info-desc">
                סוכות ברמת גן - משלוחים בכל הארץ
              </div>
            </div>
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                כתובת:
              </div>
              <div class="branch-body__info-desc">
                רמת גן
              </div>
            </div>
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                טלפון:
              </div>
              <div class="branch-body__info-desc">
                072-2133333
              </div>
            </div>
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                אימייל:
              </div>
              <a href="mailto:sukkot@sukkothadar.co.il" class="branch-body__info-desc">
                sukkot@sukkothadar.co.il
              </a>
            </div>
            <div class="branch-body__info-item">
              <div class="branch-body__info-title">
                שעות פעילות: ימים א-ה:
              </div>
              <a href="mailto:sukkot@sukkothadar.co.il" class="branch-body__info-desc">
                23:30 - 8:00 / :'יום ו 17:00 - 8:00 / :מוצ"ש 23:30 - 20:30
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>