<div class="branches">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="branches__title title">
    <span></span>
    צור קשר וסניפים
    <span></span>
  </div>
  <div class="container">
    <div class="branches-body">
      <div class="branches-sidebar">
        <div class="branches-sidebar__top">
          <a href="">
            בשאלות נפוצות כבר בדקת?
          </a>
          <span>
            כתבו לנו
          </span>
        </div>
        <form class="branches-sidebar__form">
          <input placeholder="שם מלא (לחשבונית)" type="text" class="branches-sidebar__form-input">
          <input placeholder="סלפון" type="text" class="branches-sidebar__form-input">
          <input placeholder="ליימיאאימייל" type="text" class="branches-sidebar__form-input">
          <textarea placeholder="תוכן פניה" class="branches-sidebar__form-input"></textarea>
          <button class="branches-sidebar__form-btn">שלח</button>
        </form>
        <div class="branches-sidebar__social-title">סוכות הדר ברשתות החברתיות</div>
        <ul class="branches-sidebar__social">
          <li>
            <a href=""><img src="./img/branches/fb.svg" alt=""></a>
          </li>
          <li>
            <a href=""><img src="./img/branches/tw.svg" alt=""></a>
          </li>
          <li>
            <a href=""><img src="./img/branches/insta.svg" alt=""></a>
          </li>
          <li>
            <a href=""><img src="./img/branches/yt.svg" alt=""></a>
          </li>
          <li>
            <a href=""><img src="./img/branches/wu.svg" alt=""></a>
          </li>
        </ul>
        <div class="branches-sidebar__hours-title">
          שעות הפעילות
        </div>
        <ul class="branches-sidebar__hours">
          <li> 23:30 - 8:00 :ימים א-ה</li>
          <li> 17:00 - 8:00 :יום ו'</li>
          <li> 23:30 - 20:30 :מוצ"ש</li>
        </ul>
        <div class="branches-sidebar__tel">
          <span>לבירורים והזמנות צרו קשר בטלפון </span>
          <a href="tel:0722133333">072-2133333</a>
        </div>
        <div class="branches-sidebar__faks">
          <span>פקס</span>
          <a href="tel:0722133333">072-2133333</a>
        </div>
        <div class="branches-sidebar__mail">
          <span>כתבו לנו</span>
          <a href="mailto:sukkot@sukkothadar.co.il">sukkot@sukkothadar.co.il</a>
        </div>
        <div class="branches-sidebar__stock">
          <span>כתובת</span>
          <div>מחסן ראשי אשדוד - משלוחים לכל הארץ</div>
        </div>
      </div>
      <div class="branches-content">
        <div class="branches-content__title">סניפים</div>
        <ul class="branches-content__body">
          <li class="branches-content__body-item">
            סוכות במודיעין עילית - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות במודיעין מכבים רעות - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות במגדל העמק - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות במבשרת ציון - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בלוד - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בכרמיאל - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בכפר סבא - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בכפר יונה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בירושלים - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בירוחם - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות ביקנעם - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בים המלח - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות ביהוד - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות ביבניאל - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות ביבנה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בטירת הכרמל - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בטבריה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בחריש - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בחצור הגלילית - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בחיפה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בחולון - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בחדרה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בזכרון יעקב - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בהרצליה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בהר חומה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בהוד השרון - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בדרום - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בדימונה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגני תקווה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגן יבנה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגוש עציון - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגדרה - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגבעתיים - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגבעת שמואל - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בגבעת זאב - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבת ים - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבקעת הירדן - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבקעת אונו - משלוחים בכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבנימינה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבנימין - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבני ברק - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבית"ר עילית - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבית שמש - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבית שאן - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבאר שבע - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות בבאר יעקב - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באשקלון - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באשדוד - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באריאל - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באפרת - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באלקנה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באלעד - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באילת - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באזור - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באורנית - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באור עקיבא - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באור יהודה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באופקים - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            סוכות באבן יהודה - משלוחים לכל הארץ
          </li>
          <li class="branches-content__body-item">
            הובלות ומשלוחים בכל אזור המרכז, נחלים, השרון והשפלה - *פעיל*
          </li>
          <li class="branches-content__body-item">
            הובלות ומשלוחים בכל אזור המרכז, ירושלים, הצפון והדרום - *פעיל*
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>