<div class="catalog">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        הלכות סוכה כשרה
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    הלכות סוכה
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="catalog-img">
        <img src="" alt="">
        <span>
          <img src="./img/icons/camera.svg" alt="">
        </span>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>הלכות סוכה כשרה</li>
        <li>שאלות נפוצות לסוכות לנצח</li>
        <li>אחריות לסוכה</li>
        <li>המלצות לרכישת סוכות הדר</li>
        <li>סוכות לעסקים</li>
        <li>משלוחים לסוכות לנצח ולסכך לסוכה</li>
        <li>הגדלת סוכה לנצח</li>
        <li class="active">קטלוג סוכות הדר</li>
        <li>עמוד מחירון סוכות המלא</li>
      </ul>
    </ul>
  </div>
</div>