<div class="about-page">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        אודות סוכות הדר
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="about-page__title title">
    <span></span>
    אודות
    <span></span>
  </div>
  <div class="about-page__body">
    <div class="products-body__content">
      <p>
        במהלך השנים החברה הרחיבה את פעילותה, וכיום חברת 'סוכות הדר' מייצרת ומשווקת מספר סוגים של סוכות לנצח, 2 סוגים
        שונים של סכך לסוכה, בדים לסוכה ואביזרים שונים לחג הסוכות, כגון: בדי תמונה מצויירים לסוכה, תיק לאחסון ברזלי
        הסוכה, מוטות במבוק להנחת הסכך על הסוכה, סוכה לילדים ועוד.
      </p>
      <p>
        חברת 'סוכות הדר' הוקמה בשנת 0102 על ידי מספר יזמים בעלי ניסיון של עשר שנים בענף הסוכות.
      </p>
      <img src="./img/aboutPage/img.png" srcset="./img/aboutPage/img.png 1x, ./img/aboutPage/img@2x.png 2x" alt="">
      <p>
        * שירות מקצועי
      </p>
      <p>
        * ערכות מודולאריות קלות להרכבה
      </p>
      <p>
        * מוצרים באיכות גבוהה ביותר
      </p>
      <p>
        * אישורי כשרות מגופי כשרות ידועים ובולטים
      </p>
      <p>
        * המחירים הזולים ביותר בישראל
      </p>
      <p>
        חמש סיבות להזמנת סוכות הדר:
      </p>
      <p>
        כמו כן 'סוכות הדר' מספקת שירותי משלוחים לסוכות לכל הארץ מקרית שמונה וקריות בצפון ועד דימונה בדרום. בנוסף ניתן
        לשכור סוכה לחג לשבת חתן, ברית, או לכל שמחה ואף להזמין שירותי הרכבה ופירוק של הסוכה.
      </p>
      <p>
        ניתן להיכנס לעמוד סוכות מחירון ולראות את המחירון המלא של הסוכות.
      </p>
      <p>
        מחירי הסוכות של סוכות הדר הם האטרקטיביים והזולים ביותר בענף הסוכות.
      </p>
      <p>
        הסוכות חזקות במיוחד, מודולאריות וקלות להרכבה.
      </p>
      <p>
        'סוכות הדר' היא חברה צעירה ודינמית המספקת סוכות באיכות גבוהה ביותר.
      </p>
      <img src="./img/aboutPage/img2.png" srcset="./img/aboutPage/img2.png 1x, ./img/aboutPage/img2@2x.png 2x" alt="">
      <p>
        בנוסף למאמצנו להציע את המוצרים הטוב ביותר בשוק, כמדי שנה אנו מציעים את "סכך הדר" - הסכך האיכותי, החזק והמהודר
        ביותר בישראל.
      </p>
      <p>
        3. שירות אמין ואדיב לאורך כל השנה.
      </p>
      <p>
        2. רמת איכות וגימור טובה ללא פשרות.
      </p>
      <p>
        1. הוזלה משמעותית של מחירי הסוכות לצרכן.
      </p>
      <p>
        חברת 'סוכות הדר' הציבה לעצמה מספר מטרות:
      </p>
      <p>
        סוכות הדר מעסיקה צוות מיומן ומסור של עובדים - נהגים, עובדי מחסן, מפיצים, מוכרנים, אנשי שירות לקוחות וצוותי שיווק
        וניהול - אשר עובדים סביב השעון כדי להבטיח את המוצרים הטובים ביותר ואת השירות המושלם עבור הלקוחות שלנו. אנחנו
        שמים
        דגש רב על איכות המוצרים, זמני האספקה ומתן אפשרות להרכבה, על מנת להתאים ולהיענות לכל צרכי הלקוחות שלנו.
        הצוות שלנו
      </p>
      <div class="about-page__body-btn">
        <button>לכל המוצרים</button>
        <button>למחירון סוכות</button>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li class="active">
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li>
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li>
          סוכות לעסקים
        </li>
        <li>
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li>
          הגדלת סוכה לנצח
        </li>
        <li>
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>