.cart-slider {

  &__title {
    margin: 40px 0 0 0;
  }

  &__item {
    margin: 65px auto 0;
    max-width: 1720px;
    padding: 0 15px;
    // overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: -5px;
      width: 10000px;
      min-height: calc(100% + 10px);
      background-color: #fff;
      transform: scaleX(1) translate(-100%, 0);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      top: -5px;
      width: 10000px;
      min-height: calc(100% + 10px);
      background-color: #fff;
      transform: scaleX(1) translate(100%, 0);
    }

    .cart-slider-button {
      &-prev {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;

        &.swiper-button-disabled {
          display: none;
        }

        img {
          transform: rotate(180deg);
        }
      }

      &-next {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;

        &.swiper-button-disabled {
          display: none;
        }


      }
    }
  }
}