<div class="recomendation-photo__modal">
  <div class="recomendation-photo__modal-bg"></div>
  <div class="recomendation-photo__modal-prev">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div>
  <div class="recomendation-photo__modal-next">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div>
  <div class="recomendation-photo__modal-content">
    <!-- <div class="recomendation-photo__modal-title">
      כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
    </div> -->
    <div class="recomendation-photo__modal-close">
      <img src="./img/gallery/modal-close.svg" alt="">
    </div>
    <div class="recomendation-photo__modal-img">
      <img src="./img/recomendation/wu.jpg" srcset="./img/recomendation/wu.jpg 1x, ./img/recomendation/wu@2x.jpg 2x"
        alt="">
    </div>
  </div>
</div>