<div class="recomendation">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        המלצות לרכישת סוכות הדר
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    המלצות לרכישת סוכות הדר
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="recomendation-text">
        חברת סוכות הדר גאה לייצר מוצרים איכותיים אנו נותנים דגש רב גם על איכות השירות ולכן החל מהשנה אנו מספקים גם
        שירותי הובלות, פירוק והרכבה ואף אפשרות להשכרת סוכה בזול. נשמח לשמוע את חוות דעתכם ע"מ שנשפר את הטעון שיפור ובכך
        נוכל בגאווה להמשיך ולהוביל את את ענף הסוכות! ביותר לחג הסוכות וסוכות בזול תוך תשומת לב גבוהה מאוד לכל פרט ופרט
        ומציעה לקהל לקוחותיה ההולך וגדל מכל רח בי הארץ. סוכה בזול - במחירים הזולים ביותר בישראל!!
      </div>
      <div class="recomendation-tabs__top">
        <div data-tab="1" class="recomendation-tabs__top-item js-tab-trigger active">
          מכתבי תודה
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </div>
        <div data-tab="2" class="recomendation-tabs__top-item js-tab-trigger">
          המלצות בגוגל (24 )
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </div>
      </div>
      <div data-tab="1" class="recomendation-tabs__content js-tab-content active">
        <div class="recomendation-tabs__content-top">
          <a href="">המלצות כלליות</a>
          <a href="">סוכת ילדים</a>
          <a href="">מהירות המשלוח</a>
          <a href="">כות הסוכה</a>
          <a href="">שירות מצוין</a>
          <a href="">מרוצים מאוד</a>
          <a href="" class="active">הכל</a>
        </div>
        <div class="recomendation-tabs__content-body">
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.jpg"
              srcset="./img/recomendation/wu.jpg 1x, ./img/recomendation/wu@2x.jpg 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
          <div class="recomendation-item__btn">
            <img src="./img/recomendation/wu.png"
              srcset="./img/recomendation/wu.png 1x, ./img/recomendation/wu@2x.png 2x" alt="">
          </div>
        </div>
      </div>
      <div data-tab="2" class="recomendation-tabs__content js-tab-content">
        <div class="recomendation-tabs__content-reviews">
          <div class="recomendation-tabs__content-item">
            <img src="./img/recomendation/img.png"
              srcset="./img/recomendation/img.png 1x, ./img/recomendation/img@2x.png 2x" alt="">
          </div>
          <div class="recomendation-tabs__content-item">
            <img src="./img/recomendation/img.png"
              srcset="./img/recomendation/img.png 1x, ./img/recomendation/img@2x.png 2x" alt="">
          </div>
          <div class="recomendation-tabs__content-item">
            <img src="./img/recomendation/img.png"
              srcset="./img/recomendation/img.png 1x, ./img/recomendation/img@2x.png 2x" alt="">
          </div>
          <div class="recomendation-tabs__content-item">
            <img src="./img/recomendation/img.png"
              srcset="./img/recomendation/img.png 1x, ./img/recomendation/img@2x.png 2x" alt="">
          </div>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>אודות סוכות הדר</li>
        <li>הלכות סוכה כשרה</li>
        <li>שאלות נפוצות לסוכות לנצח</li>
        <li>אחריות לסוכה</li>
        <li class="active">המלצות לרכישת סוכות הדר</li>
        <li>סוכות לעסקים</li>
        <li>משלוחים לסוכות לנצח ולסכך לסוכה</li>
        <li>הגדלת סוכה לנצח</li>
        <li>קטלוג סוכות הדר</li>
        <li>עמוד מחירון סוכות המלא</li>
      </ul>
    </ul>
  </div>
</div>