<div class="articles">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="articles__title title">
    <span></span>
    מאמרים
    <span></span>
  </div>
  <div class="container">
    <div class="articles-body">
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
      <div class="articles-body__item">
        <div class="articles-body__item-info">
          <div class="articles-body__item-title">
            מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            ירושלים או של סוכות הדר
          </div>
          <div class="articles-body__item-desc">
            יש הרבה יצרני סוכות בישראל, ביניהם אפשר למצוא את
            סוכות נחלים, סוכות ירושלים, סוכות הדר, סוכות גדנסקי,
            סוכות רימונים, ועוד. צורת הרכבת הסוכה דומה
          </div>
          <a href="" class="articles-body__item-btn">
            קרא עוד
          </a>
        </div>
        <div class="articles-body__item-img">
          <img src="./img/articles/img.png" srcset="./img/articles/img.png 1x, ./img/articles/img@2x.png 2x" alt="">
        </div>
      </div>
    </div>
  </div>
</div>