<div class="about-videos about-videos_photo">
  <div class="about-videos__title title title_arrow">
    <div class="title-arrow">
      כל מאמרים
      <img src="./img/icons/arrow.svg" alt="">
    </div>
    <span></span>
    מאמרים מובחרים
    <span></span>
  </div>
  <div class="about-videos__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="about-videos__slider-video">
          <img src="./img/video/about-video.png"
            srcset="./img/video/about-video.png 1x, ./img/video/about-video@2x.png 2x" alt="">
        </div>
        <div class="about-videos__slider-title">
          שם של הסרטון שם של הסרטון
        </div>
      </div>
      <div class="swiper-slide">
        <div class="about-videos__slider-video">
          <img src="./img/video/about-video.png"
            srcset="./img/video/about-video.png 1x, ./img/video/about-video@2x.png 2x" alt="">
        </div>
        <div class="about-videos__slider-title">
          שם של הסרטון שם של הסרטון
        </div>
      </div>
      <div class="swiper-slide">
        <div class="about-videos__slider-video">
          <img src="./img/video/about-video.png"
            srcset="./img/video/about-video.png 1x, ./img/video/about-video@2x.png 2x" alt="">
        </div>
        <div class="about-videos__slider-title">
          שם של הסרטון שם של הסרטון
        </div>
      </div>
      <div class="swiper-slide">
        <div class="about-videos__slider-video">
          <img src="./img/video/about-video.png"
            srcset="./img/video/about-video.png 1x, ./img/video/about-video@2x.png 2x" alt="">
        </div>
        <div class="about-videos__slider-title">
          שם של הסרטון שם של הסרטון
        </div>
      </div>
    </div>
  </div>
  <div class="title-arrow title-arrow_mob">
    כל מאמרים
    <img src="./img/icons/arrow.svg" alt="">
  </div>
</div>