<div class="faq">

  <div class="faq__title title title_arrow">
    <div class="title-arrow">
      כל שאלות ותשובות
      <img src="./img/icons/arrow.svg" alt="">
    </div>
    <span></span>
    שאלות ותשובות
    <span></span>
  </div>


  <div class="container">
    <div class="faq-body one">
      <div class="faq-body__item">
        <div class="faq-body__item-title"><img src="./img/icons/cross.svg" alt=""> כמה עולה סוכה?</div>
        <div class="faq-body__item-content">
          עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט.
          על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה
          הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר
        </div>
      </div>
      <div class="faq-body__item">
        <div class="faq-body__item-title"><img src="./img/icons/cross.svg" alt="">ממה עשוי סכך הדר?</div>
        <div class="faq-body__item-content">
          עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט.
          על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה
          הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר
        </div>
      </div>
      <div class="faq-body__item">
        <div class="faq-body__item-title"><img src="./img/icons/cross.svg" alt="">האם מי שרוכש סכך מקבל תיק לאיחסון
          הסכך?</div>
        <div class="faq-body__item-content">
          עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט.
          על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה
          הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר
        </div>
      </div>
      <div class="faq-body__item">
        <div class="faq-body__item-title"><img src="./img/icons/cross.svg" alt="">האם הסכך עובר חיטוי כנגד מזיקים?</div>
        <div class="faq-body__item-content">
          עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט.
          על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה
          הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר
        </div>
      </div>
      <div class="faq-body__item">
        <div class="faq-body__item-title"><img src="./img/icons/cross.svg" alt="">
          אני צריך סוכה גדולה, איזו יש לכם?
        </div>
        <div class="faq-body__item-content">
          עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט.
          על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה
          הסבר על איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר
        </div>
      </div>
    </div>
    <div class="title-arrow title-arrow_mob">
      כל שאלות ותשובות
      <img src="./img/icons/arrow.svg" alt="">
    </div>
  </div>
</div>