<div class="reviews">
  <div class="reviews__bg-preson">
    <img src="./img/reviews/bg-person.png" srcset="./img/reviews/bg-person.png 1x, ./img/reviews/bg-person@2x.png 2x"
      alt="">
  </div>
  <div class="reviews__title title">
    <span></span>
    ממליצים עלינו
    <span></span>
  </div>
  <div class="reviews-tab">
    <div class="reviews-tab__btns">
      <div class="reviews-tab__btns-item js-tab-trigger" data-tab="1">מכתבי תודה</div>
      <div class="reviews-tab__btns-item js-tab-trigger active" data-tab="2"><span>(24)</span> המלצות בגוגל</div>
    </div>
    <div class="reviews-tab__content js-tab-content" data-tab="1">
      <div class="reviews-tab__content-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
        </div>

        <div class="reviews-swiper-button-prev">
          <img src="./img/icons/slider-btn.svg" alt="">
        </div>
        <div class="reviews-swiper-button-next">
          <img src="./img/icons/slider-btn.svg" alt="">
        </div>
      </div>
    </div>
    <div class="reviews-tab__content js-tab-content active" data-tab="2">
      <div class="reviews-tab__content-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./img/reviews/01.png" srcset="./img/reviews/01.png 1x, ./img/reviews/01@2x.png 2x" alt="">
          </div>
        </div>

        <div class="reviews-swiper-button-prev">
          <img src="./img/icons/slider-btn.svg" alt="">
        </div>
        <div class="reviews-swiper-button-next">
          <img src="./img/icons/slider-btn.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>