<div class="sponsors">
  <div class="sponsors__title title">
    <span></span>
    בין לקוחותינו
    <span></span>
  </div>
  <div class="sponsors__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/01.png" srcset="./img/sponsors/01.png 1x, ./img/sponsors/01@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/02.png" srcset="./img/sponsors/02.png 1x, ./img/sponsors/02@2x.png 2x" alt="">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/03.png" srcset="./img/sponsors/03.png 1x, ./img/sponsors/03@2x.png 2x" alt="">
        </div>
        <div class="sponsors__slider-row">
          <img src="./img/sponsors/04.png" srcset="./img/sponsors/04.png 1x, ./img/sponsors/04@2x.png 2x" alt="">
        </div>
      </div>
    </div>
    <div class="sponsors__slider-prev">
      <img src="./img/icons/slider-btn.svg" alt="">
    </div>
    <div class="sponsors__slider-next">
      <img src="./img/icons/slider-btn.svg" alt="">
    </div>
  </div>
</div>