<div class="video">
  <div class="video__bg">
    <div class="notfound__bg">
      <!-- <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt=""> -->
    </div>
  </div>
  <div class="container">
    <div class="video-body">
      <div class="video-body__col video-body__col_video">
        <div class="video-body__col-video">

        </div>
      </div>
      <div class="video-body__col">
        <div class="video-body__title">מה זה סוכה טלסקופית?</div>
        <div class="video-body__text">
          איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט הסבר על איך זה עובד
          הסבר על איך זה עובד טקסט הסבר על איך איך זה עובדטקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובד טקסט הסבר על
          עובד טקסט הסבר על איך זה עובד טקסט הסבר על איך זה עובדטקסט
          טקסט
        </div>
        <div class="video-content">
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/01.svg" alt="">
            </div>
            <div class="video-content__item-title">
              מודולארית ניתנת
              להגדלה
            </div>
          </div>
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/02.svg" alt="">
            </div>
            <div class="video-content__item-title">
              בלעדי בישראל
            </div>
          </div>
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/03.svg" alt="">
            </div>
            <div class="video-content__item-title">
              מתקפלת ונוחה
              לאחסון
            </div>
          </div>
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/04.svg" alt="">
            </div>
            <div class="video-content__item-title">
              שימושית לכל
              השנה
            </div>
          </div>
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/05.svg" alt="">
            </div>
            <div class="video-content__item-title">
              קלה להרכבה
              ונוחה לשימוש
            </div>
          </div>
          <div class="video-content__item">
            <div class="video-content__item-ico">
              <img src="./img/video/06.svg" alt="">
            </div>
            <div class="video-content__item-title">
              מתכווננת לכל
              גודל
            </div>
          </div>
        </div>
        <a href="" class="video-body__col-btn">
          לפרטים
        </a>
      </div>
    </div>
  </div>
</div>