<div class="competition-inner">
  <div class="competition-inner__arrow-prev"><img src="./img/icons/slider-btn.svg" alt=""></div>
  <div class="competition-inner__arrow-next"><img src="./img/icons/slider-btn.svg" alt=""></div>
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="container">
    <div class="competition-inner__img">
      <img src="./img/competition-inner/img.png"
        srcset="./img/competition-inner/img.png 1x, ./img/competition-inner/img@2x.png 2x" alt="">
      <div class="competition-inner__arrow-prev mobile"><img src="./img/icons/slider-btn.svg" alt=""></div>
      <div class="competition-inner__arrow-next mobile"><img src="./img/icons/slider-btn.svg" alt=""></div>
    </div>
    <div class="competition-body__item-info">
      <div class="competition-body__rating">
        <span></span>
        מדרגים
        <div class="competition-body__rating-content">
          <div class="competition-body__rating-item">
            <img src="./img/competition/preson.png"
              srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
            <span>
              Eser Name
            </span>
          </div>
          <div class="competition-body__rating-item">
            <img src="./img/competition/preson.png"
              srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
            <span>
              Eser Name
            </span>
          </div>
          <div class="competition-body__rating-item">
            <img src="./img/competition/preson.png"
              srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
            <span>
              Eser Name
            </span>
          </div>
        </div>
      </div>
      <div class="competition-body__item-fb">
        <img src="./img/competition/fb-icons.png"
          srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
        <div class="competition-body__item-wu">
          <img src="./img/competition-inner/whatsup.svg" alt="">
        </div>
      </div>
      <div class="competition-body__item-text">
        <div class="competition-body__item-creator">
          מאת: אופיר דור
        </div>
        <div class="competition-body__item-size">
          סוכתנו היפה 5X3
        </div>
      </div>
    </div>
    <div class="competition-inner__bottom">
      <img src="./img/competition-inner/bottom.png"
        srcset="./img/competition-inner/bottom.png 1x, ./img/competition-inner/bottom@2x.png 2x" alt="">
    </div>
  </div>
</div>