<div class="fullpricelist">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        קטלוג סוכות הדר
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    קטלוג סוכות הדר
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="recomendation-tabs__top">
        <div data-tab="1" class="recomendation-tabs__top-item js-tab-trigger active">
          סוכה בהתאמה אישית
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </div>
        <div data-tab="2" class="recomendation-tabs__top-item js-tab-trigger">
          מחירון סוכות המלא
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </div>
      </div>
      <div data-tab="1" class="recomendation-tabs__content js-tab-content active">
        <div class="recomendation-tabs__content-body">
          <div class="fullprice-quiz">
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  לכמה אנשים תרצה את הסוכה?
                  <div class="fullprice-quiz__item-number mobile">
                    1
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-1" type="radio">
                    <span>9-10</span>
                  </label>
                  <label>
                    <input name="quiz-1" type="radio">
                    <span>7-8</span>
                  </label>
                  <label>
                    <input name="quiz-1" type="radio">
                    <span>5-6</span>
                  </label>
                  <label>
                    <input name="quiz-1" type="radio">
                    <span>עד 4</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                1
              </div>
            </div>
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  מה גודל הסוכה שתרצה?
                  <div class="fullprice-quiz__item-number mobile">
                    2
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-2" type="radio">
                    <span>200X200</span>
                  </label>
                  <label>
                    <input name="quiz-2" type="radio">
                    <span>180X400</span>
                  </label>
                  <label>
                    <input name="quiz-2" type="radio">
                    <span>150X100</span>
                  </label>
                  <label>
                    <input name="quiz-2" type="radio">
                    <span>100X100</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                2
              </div>
            </div>
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  איזה מסגרת תרצה?
                  <div class="fullprice-quiz__item-number mobile">
                    3
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-3" type="radio">
                    <span>מסגרת טלסקופית מחוזקת</span>
                  </label>
                  <label>
                    <input name="quiz-3" type="radio">
                    <span>מסגרת טלסקופית רגילה</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                3
              </div>
            </div>
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  תרצה להוסיף בד לסוכה?
                  <div class="fullprice-quiz__item-number mobile">
                    4
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-4" type="radio">
                    <span>לא, לא צריך</span>
                  </label>
                  <label>
                    <input name="quiz-4" type="radio">
                    <span>בטח, 3.2 מטר</span>
                  </label>
                  <label>
                    <input name="quiz-4" type="radio">
                    <span>בטח, 1.2 מטר</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                4
              </div>
            </div>
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  איזה סכך תרצה?
                  <div class="fullprice-quiz__item-number mobile">
                    5
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-5" type="radio">
                    <span>לא, לא צריך</span>
                  </label>
                  <label>
                    <input name="quiz-5" type="radio">
                    <span>מהדרין</span>
                  </label>
                  <label>
                    <input name="quiz-5" type="radio">
                    <span>כשר</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                5
              </div>
            </div>
            <div class="fullprice-quiz__item">
              <div class="fullprice-quiz__item-content">
                <div class="fullprice-quiz__item-title">
                  תרצה להוסיף במבוקים
                  <div class="fullprice-quiz__item-number mobile">
                    6
                  </div>
                </div>
                <div class="fullprice-quiz__item-choose">
                  <label>
                    <input name="quiz-6" type="radio">
                    <span>לא, לא צריך</span>
                  </label>
                  <label>
                    <input name="quiz-6" type="radio">
                    <span>כן, בטח</span>
                  </label>
                </div>
              </div>
              <div class="fullprice-quiz__item-number">
                6
              </div>
            </div>
          </div>
          <div class="fullprice-quiz__summary">
            <div class="fullprice-quiz__summary-title">
              סיכום הזמנה
            </div>
            <div class="fullprice-quiz__summary-info">
              <div class="fullprice-quiz__summary-item">
                <span>1</span>
                לכמות אנשים: 6-5
              </div>
              <div class="fullprice-quiz__summary-item">
                <span>2</span>
                סוכה בגודל: 200X200
              </div>
              <div class="fullprice-quiz__summary-item">
                <span>3</span>
                מסגרת: מחוזקת
              </div>
              <div class="fullprice-quiz__summary-item">
                <span>4</span>
                בד בגובה: 2.3 מטר
              </div>
              <div class="fullprice-quiz__summary-item">
                <span>5</span>
                סכך: מהדרין
              </div>
              <div class="fullprice-quiz__summary-item">
                <span>6</span>
                במבוקים: כולל
              </div>
            </div>
            <div class="fullprice-quiz__summary-bottom">
              <div class="fullprice-quiz__summary-btn">
                להמשך הרכישה
              </div>
              <div class="fullprice-quiz__summary-sum">
                <span>₪3500 </span>
                סה”כ מחיר:
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-tab="2" class="recomendation-tabs__content js-tab-content">
        <div class="fullpricelist-table">
          <div class="fullpricelist-table__top">
            <div class="fullpricelist-table__col">
              סה”כ
            </div>
            <div class="fullpricelist-table__col">
              במבוקים
            </div>
            <div class="fullpricelist-table__col">
              סכך מהדרין
            </div>
            <div class="fullpricelist-table__col">
              סכך כשר
            </div>
            <div class="fullpricelist-table__col">
              בד גובה 2.3
            </div>
            <div class="fullpricelist-table__col">
              בד גובה 2.1
            </div>
            <div class="fullpricelist-table__col">
              מסגרת סוכה טלסקופית מחוזקת
            </div>
            <div class="fullpricelist-table__col">
              מסגרת סוכה טלסקופית
            </div>
            <div class="fullpricelist-table__col">
              גודל
            </div>
          </div>
          <div class="fullpricelist-table__select">
            <div class="fullpricelist-table__col">

            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col ">
              בחר הכל
            </div>
          </div>
          <div class="fullpricelist-table__item">
            <div class="fullpricelist-table__col">
              <span class="value">₪0</span>
              <span class="name">סה”כ</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪24</span>
              <span class="name">במבוקים</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪175</span>
              <span class="name">סכך מהדרין</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪99</span>
              <span class="name">סכך כשר</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪201</span>
              <span class="name">בד גובה 3.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪151</span>
              <span class="name">בד גובה 1.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪438</span>
              <span class="name">טלסקופית מחוזקת

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪339</span>
              <span class="name">טלסקופית

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col mobile-spoiler-btn">
              <span class="value">1.1X1.1</span>
              <span class="name">גודל</span>
              <input type="checkbox">
            </div>
          </div>
          <div class="fullpricelist-table__item">
            <div class="fullpricelist-table__col">
              <span class="value">₪0</span>
              <span class="name">סה”כ</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪24</span>
              <span class="name">במבוקים</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪175</span>
              <span class="name">סכך מהדרין</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪99</span>
              <span class="name">סכך כשר</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪201</span>
              <span class="name">בד גובה 3.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪151</span>
              <span class="name">בד גובה 1.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪438</span>
              <span class="name">טלסקופית מחוזקת

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪339</span>
              <span class="name">טלסקופית

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col mobile-spoiler-btn">
              <span class="value">1.1X1.1</span>
              <span class="name">גודל</span>
              <input type="checkbox">
            </div>
          </div>
          <div class="fullpricelist-table__item">
            <div class="fullpricelist-table__col">
              <span class="value">₪0</span>
              <span class="name">סה”כ</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪24</span>
              <span class="name">במבוקים</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪175</span>
              <span class="name">סכך מהדרין</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪99</span>
              <span class="name">סכך כשר</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪201</span>
              <span class="name">בד גובה 3.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪151</span>
              <span class="name">בד גובה 1.2</span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪438</span>
              <span class="name">טלסקופית מחוזקת

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col">
              <span class="value">₪339</span>
              <span class="name">טלסקופית

                מסגרת סוכה </span>
              <input type="checkbox">
            </div>
            <div class="fullpricelist-table__col mobile-spoiler-btn">
              <span class="value">1.1X1.1</span>
              <span class="name">גודל</span>
              <input type="checkbox">
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li>
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li>
          סוכות לעסקים
        </li>
        <li>
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li>
          הגדלת סוכה לנצח
        </li>
        <li class="active">
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>