<div class="page__top">
  <div class="page__top-title">
    <span>
      מחירון
    </span>
    > <span>
      עמוד הבית
    </span>
  </div>
</div>
<div class="certificates">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="certificates__title title">
    <span></span>
    כשרויות
    <span></span>
  </div>
  <div class="container">
    <div class="certificates-body">
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
      <div class="certificates-body__item">
        <div class="certificates-body__item-title">
          כשרות לסכך מהדרין קני סוף שזורים בצמח רפיה
        </div>
        <a data-fslightbox="gallery" href="./img/certificates/01.png" class="certificates-body__item-img">
          <img src="./img/certificates/01.png" srcset="./img/certificates/01.png 1x, ./img/certificates/01@2x.png 2x"
            alt="">
          <span><img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt=""></span>
        </a>
      </div>
    </div>
  </div>
</div>