<footer class="footer @@page">
  <div class="footer__bg">
    <!-- <img src="./img/footer/bg.png" srcset="./img/footer/bg.png 1x, ./img/footer/bg@2x.png 2x" alt=""> -->
    <!-- <img src="./img/footer/bg2.png" srcset="./img/footer/bg2.png 1x, ./img/footer/bg2@2x.png 2x" alt=""> -->
  </div>
  <div class="footer__title title">
    <span></span>
    שתפו
    <span></span>
  </div>
  <div class="footer__social">
    <a href="" class="footer__social-item">
      <img src="./img/footer/wu-color.svg" alt="">
    </a>
    <a href="" class="footer__social-item">
      <img src="./img/footer/fb-color.svg" alt="">
    </a>
  </div>
  <form class="footer__follow mob">
    <div class="footer__follow-title">
      רוצה לקבל ייעוץ מקצועי?
    </div>
    <div class="footer__follow-subtitle">
      השאירו פרטים ואחד הסוכנים שלנו יחזור אליך
    </div>
    <input type="text" class="footer__follow-input" placeholder="שם מלא">
    <input type="text" class="footer__follow-input" placeholder="מס’ טלפון שלך">
    <button class="footer__follow-btn">שלח</button>
  </form>
  <div class="footer__text">
    אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי
    טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום אורגני טקסט לצרכי קידום
    קידום אורגני טקסט לצרכי קידום אורגני קידום אורגני טקסט לצרכי קידום אורגני קידום אורגני טקסט לצרכי קידום אורגני
    קידום אורגני טקסט לצרכי קידום אורגני
  </div>
  <nav class="footer-body">
    <ul class="footer-body__col">
      <li>
        <div class="footer-body__col-title">
          יצירת קשר
        </div>
      </li>
      <li>
        <a href="tel:0722133333" class="footer-body__col-link">
          072-2133333
          <img src="./img/footer/tel.svg" alt="">
        </a>
      </li>
      <li>
        <a href="tel:0722606364" class="footer-body__col-link">
          072-2606364
          <img src="./img/footer/fax.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#" class="footer-body__col-link">
          072-2133333
          <img src="./img/footer/wu-yellow.svg" alt="">
        </a>
      </li>
      <li>
        <a href="mailto:sukkot@sukkothadar.co.il" class="footer-body__col-link">
          sukkot@sukkothadar.co.il
          <img src="./img/footer/mail.svg" alt="">
        </a>
      </li>
    </ul>
    <ul class="footer-body__col">
      <li>
        <div class="footer-body__col-title">
          שפות
        </div>
      </li>
      <li>
        <a href="" class="footer-body__col-link">עברית</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">English</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">Русский</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">Français</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">Italiano</a>
      </li>
    </ul>
    <ul class="footer-body__col">
      <li>
        <div class="footer-body__col-title">מאמרים אחרונים</div>
      </li>
      <li>
        <a href="" class="footer-body__col-link">איך מרכיבים סוכה טלסקופית?</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">איך מרכיבים סוכת ילדים?</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">מה ההבדל בין סוכות הדר לסוכות נחלים?</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">מהי הסוכה הטובה ביותר?</a>
      </li>
    </ul>
    <ul class="footer-body__col">
      <li>
        <div class="footer-body__col-title"> שירותים מרכזיים</div>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> משלוחים לסוכה</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> הגדלת סוכה</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">השכרת סוכה </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">סוכה טלסקופית </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">סוכות לילדים </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> סוכות מתנפחות</a>
      </li>
    </ul>
    <ul class="footer-body__col">
      <li>
        <div class="footer-body__col-title">ניווט באתר </div>
      </li>
      <li>
        <a href="" class="footer-body__col-link">קניית סוכה </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> השכרת סוכה</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">מאמרים לסוכה </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> הלכות סוכה</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> כל המוצרים</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link"> סוכה טלסקופית</a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">צור קשר </a>
      </li>
      <li>
        <a href="" class="footer-body__col-link">אודות</a>
      </li>
    </ul>
    <div class="footer-body__col">
      <div class="footer-body__col-title">
        קניה בטוחה ומאובטחת
        <img src="./img/footer/ssl.svg" alt="">
      </div>
      <div class="footer-body__col-img">
        <img src="./img/footer/payments.svg" alt="">
      </div>
    </div>
  </nav>
  <ul class="footer-media">
    <span></span>
    <li>
      <a href="" class="footer-media__item">
        <img src="./img/footer/inst.svg" alt="">
      </a>
    </li>
    <li>
      <a href="" class="footer-media__item">
        <img src="./img/footer/yt.svg" alt="">
      </a>
    </li>
    <li>
      <a href="" class="footer-media__item">
        <img src="./img/footer/tw.svg" alt="">
      </a>
    </li>
    <li>
      <a href="" class="footer-media__item">
        <img src="./img/footer/fb.svg" alt="">
      </a>
    </li>
    <span></span>
  </ul>
  <div class="footer__sitename">
    סוכות הדר 2022
  </div>
</footer>