<div class="page__top">

  <div class="page__top-title">
    <span>
      מחירון
    </span>
    > <span>
      עמוד הבית
    </span>
  </div>
</div>
<div class="products">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="products__title title">
    <span></span>
    מוצרים
    <span></span>
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        מסגרת סוכה מברזל
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="products-body">
    <div class="products-body__content">
      <div class="products-item">
        <div class="products-item__img">
          <span>אזל מהמלאי </span>
          <img src="./img/products/01.jpg" srcset="./img/products/01.jpg 1x, ./img/products/01@2x.jpg 2x" alt="">
          <span class="products-item__img-lens">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
        </div>
        <div class="products-item__content">
          <div class="products-item__content-title">
            טקסט של שם של המוצר
          </div>
          <div class="products-item__content-desc">
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
          </div>
          <div class="products-item__content-btn">לעמוד המוצר</div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item__img">
          <span>אזל מהמלאי </span>
          <img src="./img/products/01.jpg" srcset="./img/products/01.jpg 1x, ./img/products/01@2x.jpg 2x" alt="">
          <span class="products-item__img-lens">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
        </div>
        <div class="products-item__content">
          <div class="products-item__content-title">
            טקסט של שם של המוצר
          </div>
          <div class="products-item__content-desc">
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
          </div>
          <div class="products-item__content-btn">לעמוד המוצר</div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item__img">
          <span>אזל מהמלאי </span>
          <img src="./img/products/01.jpg" srcset="./img/products/01.jpg 1x, ./img/products/01@2x.jpg 2x" alt="">
          <span class="products-item__img-lens">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
        </div>
        <div class="products-item__content">
          <div class="products-item__content-title">
            טקסט של שם של המוצר
          </div>
          <div class="products-item__content-desc">
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
          </div>
          <div class="products-item__content-btn">לעמוד המוצר</div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item__img">
          <span>אזל מהמלאי </span>
          <img src="./img/products/01.jpg" srcset="./img/products/01.jpg 1x, ./img/products/01@2x.jpg 2x" alt="">
          <span class="products-item__img-lens">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
        </div>
        <div class="products-item__content">
          <div class="products-item__content-title">
            טקסט של שם של המוצר
          </div>
          <div class="products-item__content-desc">
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
          </div>
          <div class="products-item__content-btn">לעמוד המוצר</div>
        </div>
      </div>
      <div class="products-item">
        <div class="products-item__img">
          <span>אזל מהמלאי </span>
          <img src="./img/products/01.jpg" srcset="./img/products/01.jpg 1x, ./img/products/01@2x.jpg 2x" alt="">
          <span class="products-item__img-lens">
            <img src="./img/certificates/lens.png"
              srcset="./img/certificates/lens.png 1x, ./img/certificates/lens@2x.png 2x" alt="">
          </span>
        </div>
        <div class="products-item__content">
          <div class="products-item__content-title">
            טקסט של שם של המוצר
          </div>
          <div class="products-item__content-desc">
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
            טקסט של תיאור קצר טקסט של תיאור קצר טקסט של תיאור קצר
          </div>
          <div class="products-item__content-btn">לעמוד המוצר</div>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <li class="products-slidebar__title">
        <img src="./img/icons/arrow-green.svg" alt="">
        מסגרת סוכה מברזל
      </li>
      <ul class="products-slidebar__content">
        <li>סוכה טלסקופית</li>
        <li>בד לסוכה</li>
        <li>סכך</li>
        <li>במבוקים/לטות לסוכה</li>
        <li>בד פרגולה מתכוונן לסוכה</li>
        <li>תיק לסוכה</li>
        <li>סוכה מתנפחת</li>
        <li>סוכה לילדים</li>
        <li>הגדלת סוכה</li>
        <li>ברזל לסוכה</li>
        <li>בדי תמונה לסוכה</li>
      </ul>
    </ul>
  </div>
</div>