<div class="article">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="container">
    <div class="article-body">
      <div class="article-body__sidebar">
        <div class="article-body__sidebar-title sidebar-title">
          מאמרים מומלצים
        </div>
        <div class="article-body__sidebar-body">
          <div class="article-body__sidebar-item">
            <div class="article-body__sidebar-img">
              <img src="./img/article/img.png" srcset="./img/article/img.png 1x, ./img/article/img@2x.png 2x" alt="">
            </div>
            <div class="article-body__sidebar-name">
              ירושלים או של סוכות הדר
              מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            </div>
          </div>
          <div class="article-body__sidebar-item">
            <div class="article-body__sidebar-img">
              <img src="./img/article/img.png" srcset="./img/article/img.png 1x, ./img/article/img@2x.png 2x" alt="">
            </div>
            <div class="article-body__sidebar-name">
              ירושלים או של סוכות הדר
              מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
            </div>
          </div>
        </div>
        <div class="article-body__recomendation">
          <div class="article-body__recomendation-title sidebar-title">
            מוצרים רלוונטיים לכתבה
          </div>
          <div class="article-body__recomendation-item pricelist-content__item">
            <div class="pricelist-content__item-img">
              <span class="tip">
                קנה קבל
                <span class="tip-content">
                  לבק הנק לש רואית טסקט
                  לבק הנק לש רואית טסקט
                  לבק הנק לש רואית טסקט
                  לבק הנק לש רואית טסקט
                </span>
              </span>
              <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
            </div>
            <div class="pricelist-content__item-text">
              <div class="pricelist-content__item-title">שם של המוצר</div>
              <div class="pricelist-content__item-desc">
                טקסט תיאור של המוצר טקסט תיאור של המוצר
                טקסט תיאור של המוצר טקסט תיאור של המוצר
              </div>
              <a href="" class="pricelist-content__item-link">
                לפרטים נוספים
              </a>
            </div>
            <div class="pricelist-content__item-char">
              <div class="pricelist-content__item-price">מחיר: ₪2260</div>
              <div class="pricelist-content__item-length">
                <img src="./img/icons/arrow-green.svg" alt="">
                2.30<span>גובה:</span>
              </div>
              <div class="pricelist-content__item-size">
                <img src="./img/icons/arrow-green.svg" alt="">
                40x40<span>גודל:</span>
              </div>
              <div class="pricelist-content__item-buy">הוסף לעגלה</div>
              <div class="pricelist-content__item-value">
                <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
                <input type="number" value="1">
                <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
                <span>כמות</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="article-body__content">
        <div class="article-body__content-img">
          <img src="./img/article/img.png" srcset="./img/article/img.png 1x, ./img/article/img@2x.png 2x" alt="">
        </div>
        <div class="article-body__content-title">
          ירושלים או של סוכות הדר
          מדריך איך בונים סוכה לנצח של סוכות נחלים, סוכות
        </div>
        <div class="article-body__content-subtitle">
          2018.04.11 מאת: שחר שושן, עורך תוכן yubesiw, אתר זאפ קטגוריה: סוכות לנצח כולל בד לסוכה
        </div>
        <div class="article-body__content-desc">
          <p>
            הסכך מגיע ביחידה של 3.1X01.55 זה אומר שאתם צריכים שתי יחידות כאלה כדי לכסות את הכל, אם אתם תוהים מה
            אני עושה עם זה אחר כך אתם תמיד יכולים לשים את זה בגדר כמו שאנשים עושים. סכך במבוק סטנדרטי לגמרי שיהיה מעל.
            יש פה את הרצועות האלה, עם הרצועות משתמשים
            כדי לאחד את המבנה שלא יזוז ולא ינוח ויש קייס אופציונלי למי שרוצה לאחסן את זה אחר כך בלי שזה ילך לאיבוד.
            זה מגיע עם בד סטנדרטי לבן, אפשר לבחור כל מיני עיצובים, זה הרגיל. בנוסף
            אפשר לרכוש בדים אחרים קצת יותר מפוארים אם אתם רוצים כאלה, קירות עם תמונות. זה עניין שלכם לא ממש חייבים.
            ומעל זה מגיע הסכך.
            את הסכך צריך להניח על משהו שייתן תמיכה באמצע במקרה הזה סוכות הדר מספקים עמודי במבוק כאלה, הם פשוט יושבים מעל
            העמודים האלה. אלה מתחברים אחד לשני ויוצרים את הריבוע.
            זה
            מגיע עם 4 עמודים כאלה שיש להם בכל פינה מקום לחיבור זה ריש ברך או איך שתרצו לקרוא לזה, שאליהם אתם מחברים את
            אנחנו עם סוכה בגודל 3X3 מטר שזה הגודל הסטנדרטי המינימלי לסוכה מהסוג הזה.
            כל סוכה מתחילה כריבוע ואפשר להגדיל אותה למלבן שגדל וגדל בהתאם לצרכים שלכם.
            אז בוא נראה מה החלקים השונים שצריך ואיך זה משפיע על גודל הסוכה הסופית.
            להבדיל מהסוכות הרגילות שאתם מכירים ששולמית בונה, כאן אין ערימה של קרשים ועצי דקל יש פה בעיקר פלדה ובד.
            במקרה הזה סוכות הדר השאירו לנו סוכה ממש נחמדה בגודל 3X3, אז בוא נראה איזה חלקים צריך כדי להרכיב אותה.
            לבחור סוכה.
            חג הסוכות מעבר לפינה ולפני שאתם רצים לקנות את הסוכה לעד לנצח הרגילה שלכם הנה כל מה שאתם צריכים לדעת על איך
          </p>
          <p>
            ומי שרוצה יש גם לילדים סוכה מסוכות הדר, סוכה קטנה לילדים קל מאוד לפתוח אותה.
          </p>
          <p>
            בואו נבנה את כל הסוכה ונראה איך זה נראה.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>