.footer {
  margin: 30px 0 0 0;
  position: relative;

  &.is404 {
    .footer__title {
      display: none;
    }

    .footer__social {
      display: none;
    }
  }

  &__bg {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 736px;

    background-image: url(../img/footer/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    @media (max-width:767px) {
      background-position: 72% 0;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 308px;
      position: absolute;
      z-index: 1;
      top: -1px;
      left: 0;
      background-color: #FFFFFF;
      transform: rotate(-10deg) translate(0, -150%) scaleX(2) scaleY(1.5);
      transform-origin: top right;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
  }

  &__title {}

  &__social {
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;

    flex-direction: row-reverse;

    &-item {
      margin: 0 0 0 18px;

      &:first-child {
        margin: 0;
      }
    }
  }

  &__text {
    margin: 25px 36px 0;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #707070;
  }

  &-body {
    margin: 356px 40px 0;
    display: flex;
    justify-content: space-between;

    flex-direction: row-reverse;

    &__col {
      display: flex;
      flex-direction: column;

      align-items: flex-start;



      &-title {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        text-align: right;
        color: #FFD600;
        display: flex;
        flex-direction: row-reverse;

        img {
          margin: 0 0 0 10px;
        }
      }

      &-link {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px;
        text-align: right;
        color: #FFFFFF;
        position: relative;

        display: flex;
        flex-direction: row-reverse;

        img {
          margin: 0 0 0 10px;
        }
      }

      &-img {
        margin: 20px 0 0 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: left center;
        }
      }
    }
  }

  &-media {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;

    span {
      display: block;
      height: 1px;
      flex: 1 1 100%;
      background: #D3D3D3;
    }

    &__item {
      display: block;
      margin: 0 10px;
    }
  }

  &__sitename {
    margin: 15px 0;
    text-align: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__follow {
    display: none;
    margin: 20px 0 0 0;
    padding: 10px 15px 24px;
    background: #FFD600;

    &-title {
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #000000;
    }

    &-subtitle {
      margin: 7px 0 0 0;
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }

    &-input {
      margin: 15px 0 0 0;
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      color: #000;
      background: #FFFFFF;
      border-radius: 30px;
      width: 100%;
      padding: 0 27px;
      height: 48px;

      &::placeholder {
        color: #717171;
      }
    }

    &-btn {
      display: flex;
      width: 100%;
      height: 48px;
      justify-content: center;
      align-items: center;
      margin: 15px 0 0 0;
      background: #53A200;
      border: 2px solid #FFFFFF;
      border-radius: 30px;
      font-family: 'Heebo';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #FFE4E4;
    }
  }
}