.header {
  position: absolute;
  z-index: 999;
  padding: 0 20px;
  // background-image: url(../img/header/bg.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  width: 100%;
  height: 163px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);

  @media (max-width:767px) {
    background: none;
    transition: all .3s ease;

    &.sticky {
      background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  &.sticky {
    position: fixed;

    .header-body__logo {
      span {
        display: none;
      }
    }
  }

  .main__bg {
    display: none;
  }

  &.main {
    background: none;
  }

  &-body {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    flex-direction: row-reverse;

    &__col {}

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      pointer-events: none;
      left: 50%;
      transform: translate(-50%, -40px);

      span {
        font-family: 'Guttman Drogolin';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 107.88%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    &__btns {
      display: flex;

      flex-direction: row-reverse;

      &-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 56px;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #376B00;
        overflow: hidden;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: #000000;
        position: relative;
        margin: 0 0 0 42px;
        border-radius: 40px;
        padding: 0 20px 0 32px;

        flex-direction: row-reverse;

        &:first-child {
          margin: 0;
        }

        &.circle {
          width: 56px;
          border: 2px solid #376B00;
          border-radius: 50%;
          padding: 0;
          justify-content: center;
        }

        &.cart {
          span {
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 400;
            font-size: 19.2px;
            text-align: right;
            color: #000000;
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translate(-50%, 0);
          }

          img {
            height: 36px;
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }

        &.invalid {
          height: 56px;
          padding: 0;
          border: none;
          border-radius: 0;
          background-color: transparent;

          .mob {
            display: none;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }

        &.tel {
          img {
            margin: 0 0 0 20px;
          }
        }

        &.menu-burger {
          cursor: pointer;
          display: flex;
          align-items: center;
          text-align: right;
          padding: 0 26px 0 33px;
          margin: 0 0 0 20px;

          img {
            margin: 0 0 0 16px;
          }
        }

        &.lang-select {
          position: relative;
          overflow: visible;
          cursor: pointer;

          &.active {
            border-radius: 50% 50% 0 0;
            border-bottom: none;
          }

          .lang-select__btn {}

          .lang-select__dropdown {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 54px;
            left: -1px;
            width: calc(100% + 3px);
            min-height: 100%;
            background: rgba(255, 255, 255, 0.8);
            border-top: none;
            border: 2px solid #376B00;
            border-radius: 0 0 28px 28px;

            display: none;

            &.active {
              display: flex;
            }

            li {
              padding: 10px 0;

              a {
                color: #000000;
              }
            }
          }
        }
      }
    }
  }

  &-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
    visibility: hidden;

    &.active {
      pointer-events: all;
      visibility: visible;

      .header-menu__bg {
        opacity: 1;
      }

      .header-menu__body {
        transform: translate(0);
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 0;

      opacity: 0;
      transition: all .4s ease;
    }

    &__body {
      position: absolute;
      background: #FFFFFF;
      padding: 30px 0;
      right: 0;
      width: 355px;
      height: 100%;
      z-index: 1;
      overflow-x: hidden;
      overflow-y: auto;

      transform: translate(100%, 0);
      transition: all .4s ease;

      background-image: url(../img/header/menu-bg-bottom.png);
      background-repeat: no-repeat;
      background-position: left -20px bottom 10px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 100%;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #346600;
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 18px 0 24px;

      flex-direction: row-reverse;

      span {
        position: relative;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: right;
        color: #346600;

        &::after {
          content: url(../img/header/menu-bg-top.png);
          z-index: -1;
          position: absolute;
          display: block;
          top: 6px;
          left: -45px;
        }
      }

      &-close {
        cursor: pointer;
      }
    }


    &__btns {
      display: flex;
      flex-direction: column;
      margin: 52px 0 0 0;
      position: relative;

      &::after {
        content: url(../img/header/menu-bg-bottom.png);
        z-index: -1;
        position: absolute;
        // position: fixed;
        display: block;
        pointer-events: none;
        // bottom: -130px;
        bottom: -50px;
        left: -20px;

        display: none;
      }

      li {
        margin: 42px 0 0 0;

        &:first-child {
          margin: 0;
        }
      }

      &-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px 18px 10px 24px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: right;
        color: #53A200;
        transition: all .3s ease;

        justify-content: flex-end;
        flex-direction: row-reverse;

        &.menu-dropdown-btn {
          align-items: flex-start;
          flex-direction: column;

          &:hover {
            background: transparent;
            color: #53A200;
          }

          span {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
          }

          .header-menu__btns-item {
            padding: 10px 0 10px;
          }

          &.active {
            &:hover {
              background: transparent;
              color: #53A200;
            }
          }
        }

        .menu-dropdown-content {
          display: none;

          .header-menu__btns-item {
            &:hover {
              background: transparent;
              color: #53A200;
            }
          }

          &.active {
            display: block;
          }
        }


        img {
          margin: 0 4px 0 0;
        }

        &:hover {
          background: #53A200;
          color: #FFFFFF;
        }
      }
    }
  }
}