<div class="cart-bottom">
  <div class="cart-bottom__coupon">
    <div class="cart-bottom__coupon-btn">
      <img src="./img/icons/arrow-green.svg" alt="">
      יש לכם קופון? לחצו כאן
    </div>
    <div class="cart-bottom__coupon-content">
      <button>אמת קופון</button>
      <input type="text">
      <span>קופון</span>
    </div>
  </div>
  <div class="cart-bottom__delivery">
    <div class="cart-bottom__delivery-btn">
      <img src="./img/icons/arrow-green.svg" alt="">
      בחר משלוח/איסוף עצמי
      <span>משלוח</span>
    </div>
  </div>
  <div class="cart-bottom__summary">
    <div class="cart-bottom__summary-container">
      <span>₪ 458</span>
      <span>סה"כ לתשלום </span>
    </div>
  </div>
</div>