<div class="cart @@page">
  <div class="notfound__bg">
    <!-- <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt=""> -->
  </div>
  <div class="cart__title title">
    <span></span>
    עגלת קניות
    <span></span>
  </div>

  <div class="cart-body">
    <div class="cart-body__top">
      <div class="cart-body__col">הסרה</div>
      <div class="cart-body__col">סה"כ</div>
      <div class="cart-body__col">כמות</div>
      <div class="cart-body__col">תיאור מוצר</div>
      <div class="cart-body__col">תמונת מוצר</div>
    </div>
    <div class="cart-body__content">
      <div class="cart-body__item">
        <div class="cart-body__col">
          <button class="cart-body__item-remove">
            <img src="./img/cart/trash.svg" alt="">
          </button>
        </div>
        <div class="cart-body__col cart-body__item-price">
          ₪ 458
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-value">
            <button>
              <img src="./img/cart/plus.svg" alt="">
            </button>
            <input type="text" value="1">
            <button>
              <img src="./img/cart/minus.svg" alt="">
            </button>
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-name">
            מסגרת סוכה מחוזקת 2x2<br>
            גובה - 2.10
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-img">
            <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
            <span><img src="./img/icons/lens-cart.svg"></span>
          </div>
        </div>
      </div>
      <div class="cart-body__item">
        <div class="cart-body__col">
          <button class="cart-body__item-remove">
            <img src="./img/cart/trash.svg" alt="">
          </button>
        </div>
        <div class="cart-body__col cart-body__item-price">
          ₪ 458
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-value">
            <button>
              <img src="./img/cart/plus.svg" alt="">
            </button>
            <input type="text" value="1">
            <button>
              <img src="./img/cart/minus.svg" alt="">
            </button>
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-name">
            מסגרת סוכה מחוזקת 2x2<br>
            גובה - 2.10
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-img">
            <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
            <span><img src="./img/icons/lens-cart.svg"></span>
          </div>
        </div>
      </div>
      <div class="cart-body__item">
        <div class="cart-body__col">
          <button class="cart-body__item-remove">
            <img src="./img/cart/trash.svg" alt="">
          </button>
        </div>
        <div class="cart-body__col cart-body__item-price">
          ₪ 458
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-value">
            <button>
              <img src="./img/cart/plus.svg" alt="">
            </button>
            <input type="text" value="1">
            <button>
              <img src="./img/cart/minus.svg" alt="">
            </button>
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-name">
            מסגרת סוכה מחוזקת 2x2<br>
            גובה - 2.10
          </div>
        </div>
        <div class="cart-body__col">
          <div class="cart-body__item-img">
            <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
            <span><img src="./img/icons/lens-cart.svg"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>