<div class="cart-photo__modal">
  <div class="cart-photo__modal-bg"></div>
  <!-- <div class="cart-photo__modal-prev">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div>
  <div class="cart-photo__modal-next">
    <img src="./img/icons/slider-btn.svg" alt="">
  </div> -->
  <div class="cart-photo__modal-content">
    <div class="cart-photo__modal-close">
      <img src="./img/gallery/modal-close.svg" alt="">
    </div>
    <div class="cart-photo__modal-img">
      <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
    </div>
    <!-- <div class="cart-photo__modal-title">
      טקסט של שם של התמונה
    </div> -->
  </div>
</div>