<div class="cart-slider">
  <div class="cart-slider__title title">
    <span></span>
    מגיע לכם לבחור 1 מתנות ללא תשלום
    <span></span>
  </div>
  <div class="cart-slider__item">
    <div class="swiper-wrapper">
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide pricelist-content__item">
        <div class="pricelist-content__item-img">
          <span class="tip">
            קנה קבל
            <div class="tip-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, cupiditate ullam quidem tenetur nam
              exercitationem commodi! Quasi corrupti sint doloremque blanditiis odit aperiam quisquam? Facere facilis
              culpa debitis expedita fuga.
            </div>
          </span>
          <img src="./img/pricelist/01.jpg" srcset="./img/pricelist/01.jpg 1x, ./img/pricelist/01@2x.jpg 2x" alt="">
          <span class="pricelist-content__item-price_mob">מחיר : ₪2260</span>
        </div>
        <div class="pricelist-content__item-text">
          <div class="pricelist-content__item-title">שם של המוצר</div>
          <div class="pricelist-content__item-desc">
            טקסט תיאור של המוצר טקסט תיאור של המוצר
            טקסט תיאור של המוצר טקסט תיאור של המוצר
          </div>
          <div class="pricelist-content__item-link">
            לפרטים נוספים
          </div>
        </div>
        <div class="pricelist-content__item-char">
          <div class="pricelist-content__item-price">מחיר: ₪2260</div>
          <div class="pricelist-content__item-length">
            <img src="./img/icons/arrow-green.svg" alt="">
            2.30<span>גובה:</span>
          </div>
          <div class="pricelist-content__item-size">
            <img src="./img/icons/arrow-green.svg" alt="">
            40x40<span>גודל:</span>
          </div>
          <div class="pricelist-content__item-buy">הוסף לעגלה</div>
          <div class="pricelist-content__item-value">
            <button class="pricelist-item-value-inc"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <input type="number" value="1">
            <button class="pricelist-item-value-dec"><img src="./img/icons/arrow-green.svg" alt=""></button>
            <span>כמות</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-slider-button-prev">
      <img src="./img/cart/slider-btn.svg" alt="">
    </div>
    <div class="cart-slider-button-next">
      <img src="./img/cart/slider-btn.svg" alt="">
    </div>
  </div>
</div>