<div class="cart-payment">
  <div class="cart-payment__title title">
    <span></span>
    אמצעי תשלום
    <span></span>
  </div>
  <div class="cart-payment__top">
    <div class="cart-payment__top-item"> רכישה טלפונית</div>
    <div class="cart-payment__top-item active">רכישה באשראי </div>
  </div>
  <form class="cart-payment__body">
    <div class="cart-payment__body-bg">
      <!-- <img src="./img/cart/payment-bg.png" srcset="./img/cart/payment-bg.png 1x, ./img/cart/payment-bg@2x.png 2x"
        alt=""> -->
      <img src="./img/cart/payment-bg.svg" alt="">
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>* אימייל</span>
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>*שם מלא (לחשבונית)</span>
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>* כתובת (רחוב, עיר)</span>
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>* טלפון</span>
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>הערות</span>
    </div>
    <div class="cart-payment__body-item">
      <input type="text">
      <span>מישהו עזר לך בצ’ט/טל?</span>
    </div>
    <div class="cart-payment__body-check">
      <label>
        אני מסכים/ה לתנאי השימוש של האתר
        <input type="checkbox">
        <span></span>
      </label>
    </div>
    <button class="cart-payment__body-btn">
      לרכישה מאובטחת באשראי
    </button>
  </form>
</div>