<div class="cart-top-admin">
  <div class="cart-top-admin__title title">
    <span></span>
    פרטי הזמנה
    <span></span>
  </div>
  <div class="container">
    <div class="cart-top-admin__body">
      <button class="cart-top-admin__body-btn">הוסף</button>
      <label>
        <input type="text" class="cart-top-admin__body-input">
        <span>כמות:</span>
      </label>
      <label>
        <input type="text" class="cart-top-admin__body-input">
        <span>מחיר:</span>
      </label>
      <label class="select">
        <select class="cart-top-admin__body-select">
          <option value="">מידה</option>
          <option value="">מידה</option>
          <option value="">מידה</option>
        </select>
        <span>גובה:</span>
      </label>
      <label class="select">
        <select class="cart-top-admin__body-select">
          <option value="">בחר מידה</option>
          <option value="">בחר מידה</option>
          <option value="">בחר מידה</option>
        </select>
        <span>מידה:</span>
      </label>
      <label class="select">
        <select class="cart-top-admin__body-select">
          <option value="">בחר מידה</option>
          <option value="">בחר מידה</option>
          <option value="">בחר מידה</option>
        </select>
        <span>מוצרים:</span>
      </label>
    </div>
  </div>
</div>