<div class="alahot">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        הלכות סוכה כשרה
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    הלכות סוכה
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <ul class="alahot-body__top">
        <li>הלכות כלליות</li>
        <li>הלכות לקישוטים</li>
        <li>הלכות לבד</li>
        <li>הלכות לסכך</li>
        <li>הלכות לסוכה</li>
        <li class="active">כל ההלכות</li>
      </ul>
      <div class="alahot-body__content">
        <div class="alahot-body__content-item">
          <p>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</p>
          <span><img src="./img/icons/arrow-black.svg" alt=""></span>
        </div>
        <div class="alahot-body__content-text">
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          לגבי טקסט הסבר לגבי הלכה
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          לגבי טקסט הסבר לגבי הלכה
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          לגבי טקסט הסבר לגבי הלכה
          טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר לגבי הלכה טקסט הסבר
          לגבי טקסט הסבר לגבי הלכה
        </div>
        <div class="alahot-body__content-btns">
          <a href="">
            לכל ההלכות
          </a>
          <a href="">
            להלכה הבאה
          </a>
          <a href="">
            להלכה הקודמת
          </a>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          מסגרת סוכה מברזל
        </li>
        <li class="active">סוכה טלסקופית</li>
        <li>בד לסוכה</li>
        <li>סכך</li>
        <li>במבוקים/לטות לסוכה</li>
        <li>בד פרגולה מתכוונן לסוכה</li>
        <li>תיק לסוכה</li>
        <li>סוכה מתנפחת</li>
        <li>סוכה לילדים</li>
        <li>הגדלת סוכה</li>
        <li>ברזל לסוכה</li>
        <li>בדי תמונה לסוכה</li>
      </ul>
    </ul>
  </div>
</div>