<div class="alahot">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        שאלות נפוצות לסוכות לנצח
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    שאלות נפוצות
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <ul class="alahot-body__top">
        <li>אחריות</li>
        <li>בד</li>
        <li>סכך</li>
        <li>סוכה</li>
        <li class="active"> כל השאלות</li>
      </ul>
      <div class="alahot-body__content one">
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
        <div class="faq-body__content-item">
          <div class="faq-body__content-item-title">
            <img src="./img/icons/arrow-black.svg" alt="">
            <span>רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן!!!!</span>
          </div>
          <div class="faq-body__content-item-content">
            רוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו
            כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאןרוצים מידע הלכתי נוסף על סוכות/סכך/דפנות? היכנסו כאן
          </div>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <li class="products-slidebar__title">
        <img src="./img/icons/arrow-green.svg" alt="">
        מסגרת סוכה מברזל
      </li>
      <ul class="products-slidebar__content">
        <li>סוכה טלסקופית</li>
        <li>בד לסוכה</li>
        <li>סכך</li>
        <li>במבוקים/לטות לסוכה</li>
        <li>בד פרגולה מתכוונן לסוכה</li>
        <li>תיק לסוכה</li>
        <li>סוכה מתנפחת</li>
        <li>סוכה לילדים</li>
        <li>הגדלת סוכה</li>
        <li>ברזל לסוכה</li>
        <li>בדי תמונה לסוכה</li>
      </ul>
    </ul>
  </div>
</div>