<div class="pricelist-top">
  <!-- <div class="products__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div> -->
  <div class="notfound__bg"></div>
  <div class="pricelist-top__title title">
    <span></span>
    מחירון
    <span></span>
    <div class="pricelist-top__filter-mob open-menu-btn title-filter_mob">
      סינון
      <img src="./img/icons/filter.svg" alt="">
    </div>
  </div>
  <div class="pricelist-top__subtitle">
    סוכות הדר מציבה סטנדרט חדש ברמת השירות ללקוח, ומאפשרת לכם להיכנס לחג כמו מלכים.
    סוכה להשכרה זה הפיתרון המושלם עבורכם! שוכרים ונהנים מסוכה איכותית לימי החג, מבלי לרכוש אותה או לאחסן אותה למשך ימות
    השנה.
    ניתן לשכור סוכות קטנות או ענקיות, עם סכך כשר או מהדרין. שירות ייחודי: משלוח הלוך ושוב, והרכבה ופירוק של הסוכה ע"י
    צוות מיומן.
    התקשרו עכשיו להצעת מחיר לגודל המתאים: 3333312-270
  </div>
  <div class="pricelist-top__filters">
    <div class="pricelist-top__filters-bg"></div>
    <div class="pricelist-top__filters-content">
      <div class="pricelist-top__filters-content-title">
        <button class="close-menu-btn">
          <img src="./img/icons/cross-gray.svg" alt="">
        </button>
        אפשרויות סינון
      </div>
      <select class="pricelist-top__filters-item">
        <option value="AL">בחר גובה</option>
        <option value="WY">בחר גובה</option>
      </select>
      <select class="pricelist-top__filters-item">
        <option value="AL">בחר גודל</option>
        <option value="WY">בחר גודל</option>
      </select>
      <div class="pricelist-top__filters-btn">
        סנן
      </div>
    </div>
  </div>
  <div class="pricelist-top__clear">
    למחירון המלא
  </div>
</div>