<div class="callback-btn">
  <div class="callback-btn__close">
    <img src="./img/icons/callback-close.svg" alt="">
  </div>
  רוצים לדבר איתנו?
  קליק ונתקשר מיד
</div>

<div class="callback-content">
  <form class="footer__follow">
    <div class="callback-content__close">
      <img src="./img/icons/callback-close.svg" alt="">
    </div>
    <div class="footer__follow-title">
      רוצה לקבל ייעוץ מקצועי?
    </div>
    <div class="footer__follow-subtitle">
      השאירו פרטים ואחד הסוכנים שלנו יחזור אליך
    </div>
    <input type="text" class="footer__follow-input" placeholder="שם מלא">
    <input type="text" class="footer__follow-input" placeholder="מס’ טלפון שלך">
    <button class="footer__follow-btn">שלח</button>
  </form>
</div>