<div class="waranty">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        אחריות לסוכה
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    אחריות לסוכה
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="waranty-top">
        תעודת אחריות דיגיטלית המקנה 10 שנות אחריות כנגד שבר בברזלי הסוכה
      </div>
      <div class="alahot-body__content">
        <div class="waranty-body">
          <div class="waranty-body__col">
            <div class="waranty-body__item">
              <span>
                מס' חשבונית:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                שם הקונה:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                טלפון:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                * אימייל:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
          </div>
          <div class="waranty-body__col">
            <div class="waranty-body__item">
              <span>
                * סוג המוצר:
              </span>
              <label>
                <input type="text" name="" id="">
                <img src="./img/icons/arrow-green.svg" alt="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                * תאריך קניה:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                * שם החנות:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
            <div class="waranty-body__item">
              <span>
                * עיר החנות:
              </span>
              <label>
                <input type="text" name="" id="">
              </label>
            </div>
          </div>
        </div>
        <div class="waranty-bottom">
          <div class="waranty-bottom__captcha">
            <img src="./img/captcha.png" alt="">
          </div>
          <div class="waranty-bottom__check">
            <label>
              <input type="checkbox">
              <span class="fake"></span>
              <span class="text">
                אני מסכים להירשם ולקבל דיוורים ומידע שיווקי מחברת סוכות הדר
              </span>
            </label>
          </div>
          <div class="waranty-bottom__btn">
            שלח
          </div>
        </div>
        <div class="waranty-text">
          לנצח מחיר מנצח. עם אחריות ל- שנים על הסוכה. יש למלא את טופס האחריות בעמוד זה ולשלוח אותו, ותקבלו במייל חוזר את
          תעודת האחריות.
          סוכות הדר גאים בסוכות חזקות שאלפי לקוחות מכל רחבי הארץ כבר רכשו ונותנים 01 שנים אחריות לסוכה כנגד שבר בברזל.
          סכך לסוכה מחיר מנצח. סכך
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li class="active">
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li>
          סוכות לעסקים
        </li>
        <li>
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li>
          הגדלת סוכה לנצח
        </li>
        <li>
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>