<div class="shipping">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="combobox mobile">
    <div class="combobox__active">
      <img src="./img/icons/arrow-green.svg" alt="">
      <span>
        משלוחים לסוכות לנצח ולסכך לסוכה
      </span>
    </div>
    <div class="combobox-list">
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
      <div class="combobox-list__item">
        item 1
      </div>
    </div>
  </div>
  <div class="alahot__title title">
    <span></span>
    משלוחים לסוכות לנצח ולסכך לסוכה
    <span></span>
  </div>
  <div class="alahot-body">
    <div class="products-body__content">
      <div class="shipping__text">
        <p>
          חברת סוכות הדר חרטה על דגלה להוזיל את עלויות רכישת הסוכות בישראל
        </p>
        <p>
          <br>
          וכדי להנגיש הוזלה משמעותית זאת לכל בית בישראל מפעילה שירות משלוחים מהיר וארצי
          <br>
          בשביל לתת אפשרות לכל בית בישראל להזמין סוכה, סכך או אפילו מוט או במבוק לסוכה
          <br>
          ולקבל את המוצר אותו הזמין עם שליח עד לבית תוך זמן קצר מיום עסקים אחד ועד 4 ימי עסקים.
        </p>
        <p>
          *** החל ממוצאי יום כיפור ועד ערב חג סוכות נרחיב את שירות המשלוחים ונספק את ההזמנות
          <br>
          שיתקבלו מהיום למחר כך שכל אחד יוכל להיכנס לחג עם סוכה מהודרת בנחת ולחגוג בסוכה עם כל המשפחה ***
        </p>
        <p>
          *המשלוחים עד לקרקע, קומה ראשונה או מעלית הבנין. במידה והלקוח רוצה שירותי סבלות
          <br>
          יש לשלם ישירות לנהג ע"י הלקוח ולפי העלות המפורטת להלן: החל מקומה ראשונה ועד קומה רביעית - 52 שקל לחבילה. מקומה
          חמישית והלאה - 05 שקל לחבילה*
          <br>
          יתרונות להזמנת סוכה או סכך במשלוח:
        </p>
        <p>
          1. הזמנת סוכה באתר וקבלתו במשלוח חוסך זמן רב. הזמן שלכם חשוב ולכן לאחר ביצוע הזמנה באתר תקבלו עם שליח את
          ההזמנה
          עד לבית תוך זמן קצר.
          <br>
          2. הזמנת סוכה באתר חוסכת כסף רב והשוואות מחירים. סוכות הדר הינן סוכות איכותיות ועם זאת נמכרות במחיר הזול
          בישראל.
          <br>
          3. הסוכה. הזמנתם באתר? תקבלו את הסוכה עד לבית.
          הזמנת סוכה באתר חוסכת את כאב הראש וכאב הגב. אינכם צריכים לארגן רכב מתאים כדי להעמיס עליו את הסוכה. אינכם
          צריכים
          להעמיס ולסחוב את
          <br>
          4. משלוחים לכל הארץ. ניתן להזמין סוכות וסכך באתר ולקבל במשלוח מהיר לרחבי הארץ. <br>
          שירות המשלוחים הינו מקרית שמונה וקריות בצפון ועד דימונה בדרום הארץ.
          <br>
          5. משלוחים דרומית לדימונה, ליישובי רמת הגולן )מלבד קצרין(, ולישובי יש"ע הם בתוספת תשלום.
          <br>
          6. הישובים ביש"ע שהמשלוח אליהם הוא ללא תוספת תשלום הם: מעלה אדומים, אפרת, נווה דניאל, אלעזר, אריאל, אורנית,
          שערי
          תקווה, ברקן, נופים, רבבה, יקיר, צופים, אלפי מנשה.
        </p>
      </div>
      <div class="shipping-table">
        <div class="shipping-table__row">
          <div class="shipping-table__col">הערות</div>
          <div class="shipping-table__col">עלות-משלוח</div>
          <div class="shipping-table__col">גודל</div>
          <div class="shipping-table__col">מוצר</div>
        </div>
        <div class="shipping-table__row">
          <div class="shipping-table__col">במבוקים לסוכה, דשא לסוכה, וסוכת ילדים.
            לסוכה, בד תמונה, תיק לסוכה, ברזלים לסוכה,
            לסוכה אין תוספת תשלום משלוח עבור הסכך
            כולל בד או מסגרת ברזל רגילה או מחוזקת
            בהזמנת סוכה לנצח כולל בד או סוכה מחוזקת </div>
          <div class="shipping-table__col">150</div>
          <div class="shipping-table__col">2X2
            2X3
            3X3
            2X4
            2X5
            2X6
            3X4
            3X5
            3X6
            2X7
            2X8
            2X9
            3X7
            3X8
            3X9
            4X4
            4X5
            4X6
            5X5
            6X5</div>
          <div class="shipping-table__col">ברזל מחוזקת לסוכה ללא בד
            בד/מסגרת ברזל לסוכה ללא בד/מסגרת
            סוכה לנצח כולל בד/סוכה מחוזקת כולל </div>
        </div>
        <div class="shipping-table__row">
          <div class="shipping-table__col">במבוקים לסוכה, דשא לסוכה, וסוכת ילדים.
            לסוכה, בד תמונה, תיק לסוכה, ברזלים לסוכה,
            לסוכה אין תוספת תשלום משלוח עבור הסכך
            כולל בד או מסגרת ברזל רגילה או מחוזקת
            בהזמנת סוכה לנצח כולל בד או סוכה מחוזקת </div>
          <div class="shipping-table__col">200</div>
          <div class="shipping-table__col">2X10
            2X11
            2X12
            3X10
            3X11
            3X12
            4X7
            4X8
            4X9</div>
          <div class="shipping-table__col">ברזל מחוזקת לסוכה ללא בד
            בד/מסגרת ברזל לסוכה ללא בד/מסגרת
            סוכה לנצח כולל בד/סוכה מחוזקת כולל </div>
        </div>
        <div class="shipping-table__row">
          <div class="shipping-table__col"></div>
          <div class="shipping-table__col"> שקלים סה"כ.
            נוספים לכל יחידה נוספת ועד 001
            פריט ראשון 05 שקלים. 51 שקלים</div>
          <div class="shipping-table__col"></div>
          <div class="shipping-table__col">
            לסוכה, מוטות ברזל לסוכה

            לסוכה, סוכת ילדים, מסגרת ברזל
            תיק לסוכה, במבוק לסוכה, בד תמונה
            סוכה( כגון: סכך לסוכה, בד לסוכה,
            אביזרים לסוכה )במידה והוזמנו ללא </div>
        </div>
      </div>
      <div class="shipping-table mobile">
        <div class="shipping-table__col">
          <div class="shipping-table__row">
            <span>
              מוצר
            </span>
            סוכה לנצח כולל בד/סוכה מחוזקת כולל בד/מסגרת ברזל
            לסוכה ללא בד/מסגרת ברזל מחוזקת לסוכה ללא בד
          </div>
          <div class="shipping-table__row">
            <span>
              גודל
            </span>
            2X2
            2X3
            3X3
            2X4
            2X5
            2X6
            3X4
            3X5
            3X6
            2X7
            2X8
            2X9
            3X7
            3X8
            3X9
            4X4
            4X5
            4X6
            5X5
            6X5
          </div>
          <div class="shipping-table__row">
            <span>
              עלות-משלוח
            </span>
            150
          </div>
          <div class="shipping-table__row">
            <span>
              הערות
            </span>
            בהזמנת סוכה לנצח כולל בד או סוכה מחוזקת כולל בד או תורעה
            מסגרת ברזל רגילה או מחוזקת לסוכה אין תוספת תשלום
            משלוח עבור הסכך לסוכה, בד תמונה, תיק לסוכה, ברזלים
            לסוכה, במבוקים לסוכה, דשא לסוכה, וסוכת ילדים.
          </div>
        </div>
        <div class="shipping-table__col">
          <div class="shipping-table__row">
            <span>
              מוצר
            </span>
            סוכה לנצח כולל בד/סוכה מחוזקת כולל בד/מסגרת ברזל
            לסוכה ללא בד/מסגרת ברזל מחוזקת לסוכה ללא בד
          </div>
          <div class="shipping-table__row">
            <span>
              גודל
            </span>
            4X8
            2X10
            2X11
            2X12
            3X10
            3X11
            3X12
            4X7
            4X9
          </div>
          <div class="shipping-table__row">
            <span>
              עלות-משלוח
            </span>
            200
          </div>
          <div class="shipping-table__row">
            <span>
              הערות
            </span>
            בהזמנת סוכה לנצח כולל בד או סוכה מחוזקת כולל בד או
            מסגרת ברזל רגילה או מחוזקת לסוכה אין תוספת תשלום
            משלוח עבור הסכך לסוכה, בד תמונה, תיק לסוכה, ברזלים
            לסוכה, במבוקים לסוכה, דשא לסוכה, וסוכת ילדים.
          </div>
        </div>
        <div class="shipping-table__col">
          <div class="shipping-table__row">
            <span>
              מוצר
            </span>
            אביזרים לסוכה )במידה והוזמנו ללא סוכה( כגון: סכך
            לסוכה, בד לסוכה, תיק לסוכה, במבוק לסוכה, בד תמונה
            לסוכה, סוכת ילדים, מסגרת ברזל לסוכה, מוטות ברזל לסוכה
          </div>
          <div class="shipping-table__row">
            <span>
              עלות-משלוח
            </span>
            פריט ראשון 50 שקלים. 11 שקלים נוספים לכל יחידה
            נוספת ועד 100 שקלים סה"כ.
          </div>
        </div>
      </div>
    </div>
    <ul class="products-slidebar">
      <ul class="products-slidebar__content">
        <li>
          אודות סוכות הדר
        </li>
        <li>
          הלכות סוכה כשרה
        </li>
        <li>
          שאלות נפוצות לסוכות לנצח
        </li>
        <li>
          אחריות לסוכה
        </li>
        <li>
          המלצות לרכישת סוכות הדר
        </li>
        <li>
          סוכות לעסקים
        </li>
        <li class="active">
          משלוחים לסוכות לנצח ולסכך לסוכה
        </li>
        <li>
          הגדלת סוכה לנצח
        </li>
        <li>
          קטלוג סוכות הדר
        </li>
        <li>
          עמוד מחירון סוכות המלא
        </li>
      </ul>
    </ul>
  </div>
</div>