<div class="competition-modal">
  <div class="competition-modal__bg"></div>
  <div class="competition-modal__body">
    <div class="competition-modal__body-close">
      <img src="./img/competition/close.svg" alt="">
    </div>
    <div class="competition-modal__body-content">
      <div class="competition-modal__body-title">הוספת סוכה לתחרות</div>
      <div class="competition-modal__body-img">
        <span><img src="./img/competition/plus.svg" alt=""></span>
      </div>
      <div class="competition-modal__body-info">
        <label>
          <input type="text" class="competition-modal__body-input">
          <span>* הסוכה</span>
        </label>
        <label>
          <input type="text" class="competition-modal__body-input">
          <span>* אמייל</span>
        </label>
        <label>
          <textarea class="competition-modal__body-input"></textarea>
          <span>שם מלא תיאור</span>
        </label>
        <div class="competition-modal__body-bottom">
          <button class="competition-modal__body-btn">
            הוסף
          </button>
          <div class="competition-modal__body-captcha">
            <img src="./img/captcha.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>