<div class="competition">
  <div class="notfound__bg">
    <img src="./img/light-bg.png" srcset="./img/light-bg.png 1x, ./img/light-bg@2x.png 2x" alt="">
  </div>
  <div class="competition__title title">
    <span></span>
    תחרות הסוכה היפה
    <span></span>
  </div>
  <div class="container">
    <div class="competition-top">
      <div class="competition-top__desc">
        סוכות הדר מזמינה אתכם להשתתף בתחרות הסוכה היפה - העמוד שמרכז את הסוכות הכי יפות, הכי מקושטות,
        מבחר עצום של סוכות לנצח וסכך לנצח היפים ביותר בישראל!
        הכי מיוחדות, הכי יצירתיות, הכי מושקעות בישראל!
        העלו תמונה של סוכתם המקושטת והיפה, ותזמינו חברים לתת לכם לייק ושיתוף לסוכה לנצח! חג שמח!!!
      </div>
      <a href="" class="competition-top__btn">
        הוספת סוכה לתחרות
      </a>
    </div>
    <div class="competition-body">
      <div class="competition-body__top">
        <a href="" class="competition-body__top-btn">
          תחרות 2014
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2015
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2016
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2017
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2018
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2019
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn active">
          תחרות 2020
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2021
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
        <a href="" class="competition-body__top-btn">
          תחרות 2022
          <img src="./img/icons/arrow-fpl.svg" alt="">
        </a>
      </div>
      <div class="competition-body__top mobile">
        <div class="competition-body__top-active">
          <img src="./img/icons/arrow-green.svg" alt="">
          תחרות 2019
          <span></span>
        </div>
        <div class="competition-body__top-list">
          <div class="competition-body__top-list-item">
            item 1
          </div>
          <div class="competition-body__top-list-item">
            item 2
          </div>
          <div class="competition-body__top-list-item">
            item 3
          </div>
          <div class="competition-body__top-list-item">
            item 4
          </div>
          <div class="competition-body__top-list-item">
            item 4
          </div>
          <div class="competition-body__top-list-item">
            item 4
          </div>
          <div class="competition-body__top-list-item">
            item 4
          </div>
          <div class="competition-body__top-list-item">
            item 4
          </div>
        </div>
      </div>
      <div class="competition-body__content">
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span>
              <img src="./img/competition/first.svg" alt="">
            </span>
            <span class="lense">
              <!-- <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt=""> -->
              <img src="./img/icons/lens.svg" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
        <div class="competition-body__item">
          <div class="competition-body__item-img">
            <img src="./img/competition/img.png" srcset="./img/competition/img.png 1x, ./img/competition/img@2x.png 2x"
              alt="">
            <span class="lense">
              <img src="./img/icons/lens-mobile.png"
                srcset="./img/icons/lens-mobile.png 1x, ./img/icons/lens-mobile@2x.png 2x" alt="">
            </span>
          </div>
          <div class="competition-body__item-info">
            <div class="competition-body__rating">
              <span></span>
              מדרגים
              <div class="competition-body__rating-content">
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
                <div class="competition-body__rating-item">
                  <img src="./img/competition/preson.png"
                    srcset="./img/competition/preson.png 1x, ./img/competition/preson@2x.png 2x" alt="">
                  <span>
                    Eser Name
                  </span>
                </div>
              </div>
            </div>
            <div class="competition-body__item-fb">
              <img src="./img/competition/fb-icons.png"
                srcset="./img/competition/fb-icons.png 1x, ./img/competition/fb-icons@2x.png 2x" alt="">
            </div>
            <div class="competition-body__item-text">
              <div class="competition-body__item-creator">
                מאת: אופיר דור
              </div>
              <div class="competition-body__item-size">
                סוכתנו היפה 5X3
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>